<script language="JavaScript">

var kode;

function validateInput(){
	
	kode_verifikasi		= document.getElementById('kodeverifikasi').value;
	
	if(kode_verifikasi==''){
		valid	= false;
		alert("Anda belum memasukkan Kode Verifikasi!");
		return false;
	}
	else{
		return true;
	}
}

</script>

<form name="forminput" action="{U_ACT_FORM}" method="post" onSubmit='return validateInput();'>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<tr class='banner' height=40>
	<td align='center' valign='middle' class="bannerjudul">&nbsp;Verifikasi Top Up Deposit</td>
</tr>
<tr>
	<td class="whiter" valign="middle" align="center">
	</br></br></br>
	<input type="hidden" name="mode" value="verify">
	<input type="hidden" name="kodereferensi" value="{KODE_REFERENSI}">
	<input type="hidden" name="jumlah" value="{JUMLAH_NUM}">
	<table width='400' class="border">
		{PESAN}
		<tr><td align="right"><b>Kode Referensi Top Up</b></td><td>:</td><td>{KODE_REFERENSI}</td></tr>
		<tr><td align="right"`><b>Jumlah Top Up</b></td><td>:</td><td>Rp. {JUMLAH}</td></tr>
		<tr style="display: {DISPLAY_VER};"><td align="right"><b>Kode Verifikasi</b></td><td>:</td><td><input type="password" id="kodeverifikasi" name="kodeverifikasi" maxlength=6></td></tr>
		<tr style="display: {DISPLAY_VER};"><td colspan=3 align="center"><input type="submit" name="submit" value="&nbsp;&nbsp;&nbsp;VERIFIKASI&nbsp;&nbsp;&nbsp;"></td></tr>
		<tr style="display: {DISPLAY_OK};"><td colspan=3 align="center"><input type="button" name="button" value="&nbsp;&nbsp;&nbsp;OK&nbsp;&nbsp;&nbsp;" onClick="{ACT_BUTTON_OK}"></td></tr>
	</table>
	</td>
</tr>
</table>
</form>