<html>
<head>
	<link rel="stylesheet" href="./templates/trav.css" type="text/css" />
</head>
<script type="text/javascript">
	function printWindow() {
		bV = parseInt(navigator.appVersion);
		if (bV >= 4) window.print();
	}
</script>	 

<body class='tiket'>

<div style="font-size:14px;width:400px;height: 470px;">
	<span style="font-size:22px;">{NAMA_PERUSAHAAN}</span><br>
	<br>
	[--RESI TOP UP MEMBER--]<br>
	Kode.Ref: {KODE_REFERENSI}<br>
	{DUPLIKAT}
	{WAKTU_TRANSAKSI}<br>
	#Member: {KODE_MEMBER}<br>
	Nama: {NAMA_MEMBER}<br>
	Jum.Top Up: Rp.{JUMLAH_RUPIAH}<br>
	Poin Top Up:{JUMLAH_TIKET}<br>
	Saldo: {SALDO} Poin<br>
	
	CSO: {CSO}<br>
	<br>
	<div style="text-align: left;width:400px;"">-- Terima Kasih --</div><br>
</div>

</body>

<script language="javascript">
	printWindow();
	window.close();
</script>
</html>
