<script type="text/javascript">
    filePath = '{TPL}js/dropdowncalendar/images/';
</script>
<script src="{TPL}js/dropdowncalendar/calendar.js" type="text/javascript"></script>
<script language="JavaScript">

    function Start(page) {
        OpenWin = this.open(page, "CtrlWindow", "toolbar=no,menubar=yes,location=yes,scrollbars=yes,resizable=yes");
    }


</script>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
    <tr>
        <td class="whiter" valign="middle" align="center">
            <table width='100%' cellspacing="0">
                <tr class='banner' height=40>
                    <td align='center' valign='middle' class="bannerjudul">&nbsp;Daftar Reedem Member Ponta</td>
                    <td colspan=2 align='right' class="bannernormal" valign='middle'>
                        <form action="{ACTION_CARI}" method="post">
                            <table>
                                <tr><td class='bannernormal'>
                                        &nbsp;Tgl.Transaksi:&nbsp;<input id="tanggal_mulai" name="tanggal_mulai" type="text" onfocus="this.select();lcs(this)" onclick="event.cancelBubble=true;this.select();lcs(this)" value="{TGL_AWAL}" size=10>
                                        &nbsp; s/d &nbsp;<input id="tanggal_akhir" name="tanggal_akhir" type="text" onfocus="this.select();lcs(this)" onclick="event.cancelBubble=true;this.select();lcs(this)" value="{TGL_AKHIR}" size=10>
                                        &nbsp;Cari:&nbsp;<input type="text" id="txt_cari" name="txt_cari" value="{TXT_CARI}" />&nbsp;
                                        <input type="submit" value="cari" />&nbsp;
                                    </td></tr>
                            </table>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td align='center' colspan=2>
                        <table>
                            <tr>
                                <td>
                                    <a href='#' onClick="{CETAK_XL}"> <img src="{TPL}/images/icon_msexcel.png">&nbsp;Cetak ke MS EXCEL</a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td align="right" colspan="2">
                        {PAGING}
                    </td>
                </tr>
            </table>
            <table width='100%' class="border">
                <tr>
                    <th width=30>No</th>
                    <th width=200>Nama Member</th>
                    <th width=70>HP</th>
                    <th width=70>ID Member</th>
                    <th width=70>Ponta ID</th>
                    <th width=70>Tanggal Transaksi</th>
                    <th width=70>Kode Booking</th>
                    <th width=70>No Tiket</th>
                    <th width=70>Jml Reedem</th>
                    <th width=70>Jml Poin</th>
                    <th width=70>Jml Tagihan</th>
                </tr>
                <!-- BEGIN ROW -->
                <tr class="{ROW.odd}">
                    <td align="right">{ROW.no}</td>
                    <td align="center">{ROW.nama}</td>
                    <td align="center">{ROW.hp}</td>
                    <td align="center">{ROW.IdMember}</td>
                    <td align="center">{ROW.PontaID}</td>
                    <td align="center">{ROW.tgl}</td>
                    <td align="center">{ROW.kodebooking}</td>
                    <td align="center">{ROW.notiket}</td>
                    <td align="center">{ROW.jmlReedem}</td>
                    <td align="center">{ROW.jmlPoin}</td>
                    <td align="center">{ROW.jmlTagihan}</td>
                </tr>
                <!-- END ROW -->
            </table>
            {NO_DATA}
            <table width='100%'>
                <tr>
                    <td width='100%' align='right'>
                        {PAGING}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>