<div id="combolistcontainer" onblur="this.style.display='none';">
  <br>
  <input type="hidden" id="{ELM_ID_DIPILIH}" name="{ELM_ID_DIPILIH}" value=""/>
  <input type="text" id="combolistfilter" name="combolistfilter" value="" onkeypress="validCharInput(event);" onblur="combolistcontainer.style.display='block';"/>
  <!-- BEGIN LIST -->
  <!-- BEGIN GROUP_LIST -->
  <div class="resvcombolistgroup">{LIST.GROUP_LIST.text}</div>
  <!-- END GROUP_LIST -->
  <!-- BEGIN ISI_LIST -->
  <div class="resvcombolist" onclick="pilihItemComboList({ELM_COMBO_LIST},'{LIST.ISI_LIST.text}',{ELM_ID_DIPILIH},'{LIST.ISI_LIST.id}');">{LIST.ISI_LIST.text}</div>
  <!-- END ISI_LIST -->
  <!-- END LIST -->
  <!-- BEGIN NO_DATA -->
  <span style="width:150px;display: inline-block;text-align: center;padding-top: 5px;color: #808080;font-size: 11px;"><i>-tidak ada data-</i></span><br>
  <!-- END NO_DATA -->
</div>
