<script type="text/javascript">
	filePath = '{TPL}js/dropdowncalendar/images/';
</script>
<script src="{TPL}js/dropdowncalendar/calendar.js" type="text/javascript"></script>
<script type="text/javascript" src="{ROOT}/ajax/dojo.js"></script>
<script type="text/javascript">
  // komponen khusus dojo 
  dojo.require("dojo.widget.Dialog");
	
	function Start(page) {
		OpenWin = this.open(page, "CtrlWindow", "toolbar=no,menubar=yes,location=yes,scrollbars=yes,resizable=yes");
	}
	
	
</script>

<table width="100%" cellspacing="1" cellpadding="4" border="0">
<tr>
 <td class="whiter" valign="middle" align="left">		
	<form action="{ACTION_FORM}" method="post" name='myform'>
		<table width='100%' >
		<tr><td colspan=3><h2>Grafik Omzet Per Jam</h2></td></tr>
    <tr>
      <td align='middle' colspan=3>
				<script type="text/javascript" src="chart/js/swfobject.js"></script>
				<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" 
				width="1000" height="500" id="ie_chart" align="middle">
				<param name="allowScriptAccess" value="sameDomain" />
				<param name="movie" value="chart/open-flash-chart.swf?width=1000&height=500&data={DATA_GRAFIK}" />
				<param name="quality" value="high" />
				<param name="bgcolor" value="#FFFFFF" />
				<embed src="chart/open-flash-chart.swf?data={DATA_GRAFIK_PER_JAM}" quality="high" bgcolor="#FFFFFF" width="1000" height="500" name="chart" align="middle" allowScriptAccess="sameDomain" 
				type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" id="chart"/>
				</object>
			</td>
    </tr>
    </table>
		<table width='100%' >
			<tr>
				<td align='right' width='100%' colspan=3>
					{PAGING}
				</td>
			</tr>
			<tr>
				<td align='left' valign='bottom' colspan=3>
				{SUMMARY}
				</td>
			</tr>
		</table>
	</form>
 </td>
</tr>
</table>