<span class="popuptitle">SCAN BARCODE PAKET</span>
<center>
  <span id="notifberhasil" class="greencell" style="position:absolute ;display: none;width:100%;top: 0px;">PROSES BERHASIL</span>
  <div class="wrapperpopup" style="width: 500px;height:150px;">
    <span style="font-size: 14px;font-family: 'trebuchet ms';color: #555555;width: 100%;text-align: center;">scan atau ketikan kode barcode/resi paket</span><br><br>
    <span class="popuplabel">Barcode/ Resi Paket</span><span class="popupinput">
      <form action="" method="post" id="formscanbarcode" name="formscanbarcode" onsubmit="checkinPaketByBarcode();return false;">
        <input type="text" id="resipaketscan" name="resipaketscan" onkeypress="validCharInput(event);this.style.background='white';" onfocus="this.style.background='white';" style="font-size: 14px;text-align: center;"/>
      </form>
    </span><br><br>
    <span class="flatbutton" onclick="checkinPaketByBarcode()" id="buttonproses">Proses</span>
  </div>
</center>