<span class="popuptitle">PENGAMBILAN PAKET {NO_RESI}</span>
<input type="hidden" id="noresiambilpaket" name="noresiambilpaket" value="{NO_RESI}">
<center>
  <div class="wrapperpopup" style="width: 500px;height:200px;">
    <span style="font-size: 14px;font-family: 'trebuchet ms';color: #555555;width: 100%;text-align: center;">Isi data pengambil paket</span><br><br>
    <span class="resvisidatalabel">Nama Pengambil</span>&nbsp;<span class="resvdisidatafield"><input type="text" id="namapengambilpaket" onkeypress="validCharInput(event);" onfocus="this.style.background='white';" /></span>
    <span class="resvisidatalabel">Telp Pengambil</span>&nbsp;<span class="resvdisidatafield"><input type="text" id="telppengambilpaket" onkeypress="validasiAngka(event);" onfocus="this.style.background='white';" /></span>
    <span class="resvisidatalabel">No.KTP Pengambil</span>&nbsp;<span class="resvdisidatafield"><input type="text" id="ktppengambilpaket" onkeypress="validasiAngka(event);" onfocus="this.style.background='white';" /></span>
    <!-- BEGIN OTP_PENGAMBILAN -->
    <span class="resvisidatalabel">OTP Pengambilan</span>&nbsp;<span class="resvdisidatafield"><input type="password" id="otppengambilan" onkeypress="validasiAngka(event);" onfocus="this.style.background='white';" maxlength="6" size="10"/></span>
    <!-- END OTP_PENGAMBILAN -->
    <br><br>
    <span class="flatbutton" onclick="prosesPengambilan('{NO_RESI}');" id="buttonproses">Proses</span>
  </div>
</center>