<span class="popuptitle">PENERIMAAN PAKET {NO_RESI}</span>
<input type="hidden" id="noresiterimapaket" name="noresiterimapaket" value="{NO_RESI}">
<center>
  <div class="wrapperpopup" style="width: 500px;height:200px;">
    <span style="font-size: 14px;font-family: 'trebuchet ms';color: #555555;width: 100%;text-align: center;">Isi data penerima paket</span><br><br>
    <span class="resvisidatalabel">Nama Penerima</span>&nbsp;<span class="resvdisidatafield"><input type="text" id="namapenerimapaket" onkeypress="validCharInput(event);" onfocus="this.style.background='white';" /></span>
    <span class="resvisidatalabel">Telp Penerima</span>&nbsp;<span class="resvdisidatafield"><input type="text" id="telppenerimapaket" onkeypress="validasiAngka(event);" onfocus="this.style.background='white';" /></span>
    <br><br>
    <span class="flatbutton" onclick="prosesPenerimaan('{NO_RESI}');" id="buttonproses">Proses</span>
  </div>
</center>