<span class="popuptitle">Paket-Pilih Pembayaran</span>
<center>
  <!-- BEGIN DLG_KETERANGAN -->
  <span style="font-size: 16px;font-family: 'trebuchet ms';color: #555555;text-transform: uppercase;width: 100%;text-align: center;">{DLG_KETERANGAN.teks}</span><br>
  <!-- END DLG_KETERANGAN -->
  <!-- BEGIN DLG_BAYAR_TUNAI -->
  <span id="pembayarantunai" class="b_tunai" onClick="prosesBayar(0);">TUNAI</span><span style="width: 100px;display: inline-block;"></span>
  <!-- END DLG_BAYAR_TUNAI -->
  <!-- BEGIN DLG_BAYAR_EDC -->
  <span id="pembayaranedc" class="b_edc" onClick="prosesBayar(1);">EDC</span>
  <!-- END DLG_BAYAR_EDC -->
  <!-- BEGIN DLG_LANJUTKAN -->
  <br>
  <span class="flatbutton" onclick="prosesBayar(3);" id="buttonbatal">PROSES</span>
  <!-- END DLG_LANJUTKAN -->
</center>



