<script type="text/javascript">
	filePath = '{TPL}js/dropdowncalendar/images/';
</script>
<script src="{TPL}js/dropdowncalendar/calendar.js" type="text/javascript"></script>
<script type="text/javascript" src="{ROOT}/ajax/dojo.js"></script>
<script type="text/javascript">
  // komponen khusus dojo 
  dojo.require("dojo.widget.Dialog");
 
	function setDashboardCabang(id_jurusan,rewrite_id,is_arrival){
		
		new Ajax.Updater(rewrite_id,"dashboardops_detail.php?sid={SID}", {
			asynchronous: true,
			method: "post",
		
			parameters: "idjurusan="+id_jurusan+"&tgl="+document.getElementById("tanggal_mulai").value+"&isarrival="+is_arrival,
			onLoading: function(request){
			},
			onSuccess: function(request){
				
			},
			onComplete: function(request){
				
			},
			onFailure: function(request){ 
				assignError(request.responseText); 
			}
		});		
	}
	
	
</script>
<table width="100%" cellspacing="0" cellpadding="0" >
<tr>
 <td class="whiter" valign="middle" align="center">		
	<form action="{ACTION_CARI}" method="post">
		<!--HEADER-->
		<table width='100%' cellspacing="0">
			<tr class='banner' height=40>
				<td align='center' valign='middle' class="bannerjudul">&nbsp;Dashboard Operasional</td>
				<td align='left' valign='middle'>
					<table>
						<tr>
							<td class='bannernormal'>Cabang:&nbsp;<select id='cabang' name='cabang'>{OPT_CABANG}</select></td>
							<td class='bannernormal' colspan=2>&nbsp;Tgl:&nbsp;<input readonly="yes"  id="tanggal_mulai" name="tanggal_mulai" type="text" size=10 onfocus="this.select();lcs(this)" onclick="event.cancelBubble=true;this.select();lcs(this)" value="{TGL_AWAL}"></td>
							<td class='bannernormal'><input name="btn_cari" type="submit" value="cari" /></td>								
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<!-- END HEADER-->
		</br>
		<!--<div id="loading" style="background: url('./templates/images/loading_bar.gif') no-repeat;height: 19px">&nbsp;</div>-->
		{LIST_DASHBOARD}
	</form>
 </td>
</tr>
</table>