<span class="popuptitle">{OPERATION} VOUCHER</span>
<center>
  <div class="wrapperpopup" style="width: 500px;height: 210px;">
    <span class="popuplabel">Kode Voucher</span><span class="popupinput"><textarea id="kodevoucher" name="kodevoucher" rows="5" cols="30" readonly>{KODE_VOUCHER}</textarea></span><br><br>
    <span class="popuplabel">Alasan Pembatalan</span><span class="popupinput"><textarea id="alasan" name="alasan" onfocus="this.style.background='white';" rows="2" cols="30"></textarea></span><br><br>
    <span class="flatbutton" onclick="batalkan();" id="buttonbatal">BATALKAN</span>
  </div>
</center>