<table width="500px">
	<tr>
		<th width="20px"><a class="th" href='{A_SORT_1}'>ID</a></th>
		<th><a class="th" href='{A_SORT_2}' >Jenis Kardus</a></th>
		<th><a class="th" href='{A_SORT_3}' >Keterangan</a></th>
		<th width="100px">Action</th>
	</tr>

	<!-- BEGIN ROW -->
	<tr>
		<td align="right">{ROW.ID_JENIS_KARDUS}</td>
		<td><input type="text" id="NamaJenisKardus{ROW.ID_JENIS_KARDUS}" style="width:100%;border:0px;padding:0px;" value="{ROW.NAMA_KARDUS}"></td>
		<td><input type="text" id="Keterangan{ROW.ID_JENIS_KARDUS}" style="width:100%;;border:0px;padding:0px;" value="{ROW.KETERANGAN}"></td>
		<td><center>{ROW.action}</center></td>
	</tr>
	<!-- END ROW -->
	<form action="" method="post">
	<tr>
		<td align="right"><input type="hidden" id="IdJenisKardus" value="{ID_GENERATE}">{ID_GENERATE}</td>
		<td><input type="text" id="NamaJenisKardus" style="width:100%;"></td>
		<td><input type="text" id="Keterangan" style="width:100%;"></td>
		<td><input type="submit" value="Tambah" onclick="TambahJenisKardus()" style="width:100%;"></td>
	</tr>
	</form>
</table>
