<input type="hidden" id="KodeCabang" value="{KODE_CABANG}">

<div style="overflow-y:scroll;height:300px;">
<table width="100%">
	<tr>
		<th width="20px">No</th>
		<th><a class="th" >Waktu Transaksi</a></th>
		<th width="30px"><a class="th" >Jenis Kardus</a></th>
		<th><a class="th" >Detail Transaksi</a></th>
		<th width="50px;"><a class="th" >Jumlah Transaksi</a></th>
		<th width="50px;"><a class="th" >Stok Saat ini</a></th>
	</tr>

	<!-- BEGIN ROW -->
	<tr>
		<td align="right">{ROW.no}</td>
		<td>{ROW.WAKTU_TRANSAKSI}</td>
		<td>{ROW.NAMA_KARDUS}</td>
		<td>{ROW.DETAIL_TRANSAKSI}</td>
		<td align="right">{ROW.JUMLAH_TRANSAKSI}</td>
		<td align="right">{ROW.STOK}</td>
	</tr>
	<!-- END ROW -->
</table>
</div>