<input type="hidden" id="KodeCabang" value="{KODE_CABANG}">

<table width="500px">
	<tr>
		<th width="20px">No</th>
		<th><a class="th" >Jenis Kardus</a></th>
		<th><a class="th" >Jumlah Stok</a></th>
		<th><a class="th" >Stok Opname</a></th>
		<th><a class="th" >Keterangan</a></th>
		<th width="100px">Action</th>
	</tr>

	<!-- BEGIN ROW -->
	<tr>
		<td align="right">{ROW.no}</td>
		<td>{ROW.NAMA_KARDUS}</td>
		<td><input type="hidden" id="StokAsal{ROW.ID_STOK_KARDUS}" value="{ROW.JUMLAH_STOK}">{ROW.JUMLAH_STOK}</td>
		<td><input type="text" id="StokOpname{ROW.ID_STOK_KARDUS}" style="width:100%;"></td>
		<td><input type="text" id="Keterangan{ROW.ID_STOK_KARDUS}" style="width:100%;"></td>
		<td><input type="submit" value="Opname" onclick='StokOpnameKardus({ROW.ID_STOK_KARDUS});' style="width:100%;"></td>
	</tr>
	<!-- END ROW -->
</table>
