<table width="95%" class="border" cellspacing="1" cellpadding="4" border="0">
<tr>
 <th align='left'>Welcome {USERNAME},</th>
</tr>
<tr>
 <td align='left' class="indexer">{BCRUMP}</td>
</tr>
<tr>
 <td class="whiter" valign="middle" align="center">
    <form action="{U_JURUSAN_ADD_ACT}" method="post">
    <table width='80%'>     
     <tr>
       <td>Berangkat</td><td><input type="text" name="berangkat" value="{BERANGKAT}"></td>
     </tr>  
     <tr>
       <td>Tujuan</td><td><input type="text" name="tujuan" value="{TUJUAN}"></td>
     </tr>       
     <tr>
       <td></td>
       <td>
         <input type="hidden" name="mode" value="{MODE}">
         <input type="hidden" name="id" value="{ID}">
         <input type="hidden" name="submode" value="{SUB}">
         <input type="submit" name="submit" value="Save">
       </td>
     </tr>            
    </table>
    </form>
 </td>
</tr>
</table>