<span class="popuptitle">{JUDUL}</span>
<center>
  <div class="wrapperpopup">
    <input type="hidden" id="dlgidcabang" value="{ID_CABANG}"/>
    <input type="hidden" id="dlgstatusaktif" value="{STATUS_AKTIF}"/>
    <span class="popuplabel">Kode Cabang</span><span class="popupinput">
      <input type="text" id="dlgkodecabang" name="dlgkodecabang" value="{KODE_CABANG}" onfocus="this.style.background='white';" onkeypress="validCharInput(event);" style="text-transform: uppercase;" /></span><br><br>
    <span class="popuplabel">Nama</span><span class="popupinput">
      <input type="text" id="dlgnama" name="dlgnama" value="{NAMA}" onfocus="this.style.background='white';" onkeypress="validCharInput(event);" style="text-transform: uppercase;" /></span><br><br>
    <span class="popuplabel">Alamat</span><span class="popupinput">
      <input type="text" id="dlgalamat" name="dlgalamat" value="{ALAMAT}" onfocus="this.style.background='white';" onkeypress="validCharInput(event);" style="text-transform: uppercase;" /></span><br><br>
    <span class="popuplabel">Kota</span><span class="popupinput">
      <input type="text" id="dlgkota" name="dlgkota" value="{KOTA}" onfocus="this.style.background='white';" onkeypress="validCharInput(event);" style="text-transform: uppercase;" /></span><br><br>
    <span class="popuplabel">Telp</span><span class="popupinput">
      <input type="text" id="dlgtelp" name="dlgtelp" value="{TELP}" onfocus="this.style.background='white';" onkeypress="validasiAngka(event);" maxlength="15" /></span><br><br>
    <span class="popuplabel">Fax</span><span class="popupinput">
      <input type="text" id="dlgfax" name="dlgfax" value="{FAX}" onfocus="this.style.background='white';" onkeypress="validasiAngka(event);" maxlength="15" /></span><br><br>
    <span class="popuplabel">Status Aktif</span><span class="popupinput"><a href="" id="dlgbtnstatusaktif" onclick="toggleStatusAktif();return false;">&nbsp;AKTIF&nbsp;</a></span></span><br><br>
    <span class="flatbutton" onclick="simpan();" id="buttonproses">SIMPAN</span>
  </div>
</center>

