

table.borderflat{
  border: 1px solid #a5a5a5;
  border-collapse: collapse;
}

td.kalday{
  width: 30px;
  border: 1px solid #da251d;
  text-align: center;
  background: #da251d;
  color: white;
}

td.kaldate{
  border: 1px solid #a5a5a5;
  text-align: center;
  background: white;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

td.kaldate:hover{
  background: #fdff7e;
}

td.kaldatewe{
  border: 1px solid #a5a5a5;
  text-align: center;
  background: #ff9900;
  color: black;
  cursor: pointer;
  font-weight: bold;
}

td.kaldatewe:hover{
  background: #fdff7e;
}

td.kaldatesel{
  border: 1px solid #a5a5a5;
  text-align: center;
  background: red;
  color: white;
  cursor: pointer;
}

td.kaldatedif{
  border: 1px solid #a5a5a5;
  text-align: center;
  background: white;
  color: black;
  cursor: pointer;
}

td.kaldatedif:hover{
  background: #fdff7e;
}

td.kaldatewedif{
  border: 1px solid #a5a5a5;
  text-align: center;
  background: #ff9900;
  color: black;
  cursor: pointer;
}

td.kaldateoff{
  border: 1px solid #a5a5a5;
  text-align: center;
  background: white;
  color: #b0b0b0;
  cursor: pointer;
}

td.kaldateweoff{
  border: 1px solid #a5a5a5;
  text-align: center;
  background: #ff9900;
  color: #b0b0b0;
  cursor: pointer;
}

td.kaldateweoff:hover{
  background: #fdff7e;
}

td.bulan{
  width: 70px;
  height: 33px;
  border: 1px solid #ffffff;
  text-align: center;
  background: #da251d;
  color: white;
  cursor: pointer;
}

td.bulan:hover{
  background: #fdff7e;
  color: black;
}

td.bulansel{
  width: 70px;
  height: 33px;
  border: 1px solid #ffffff;
  text-align: center;
  background: #ff9900;
  color: black;
  cursor: pointer;
}

td.tahun{
  width: 70px;
  height: 33px;
  text-align: center;
  background: #da251d;
  color: white;
  cursor: pointer;
}

td.tahun:hover{
  background: #fdff7e;
  color: black;
}

td.tahunsel{
  width: 70px;
  height: 33px;
  border: 1px solid #ffffff;
  text-align: center;
  background: #ff9900;
  color: black;
  cursor: pointer;
}

.kalbulan{
  display: inline-block;
  width: 50px;
  height: 15px;
  cursor: pointer;
  background: #ff9900;
  padding: 1px;
}

.kalbulan:hover{
  background: #fdff7e;
}

.kaltahun{
  display: inline-block;
  width: 50px;
  height: 15px;
  cursor: pointer;
  background: #ff9900;
  padding: 1px;
}

.kaltahun:hover{
  background: #fdff7e;
}

.kaltoday{
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

.kaltoday:hover{
  background: #fdff7e;
}


