@CHARSET "UTF-8";
body {
	background-color: white;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.ad-size-300x250,.ad-size-336x280,.ad-size-250x250,.ad-size-200x200,.ad-size-300x600,.ad-size-160x600,.ad-size-120x600,.ad-size-728x90,.ad-size-468x60,.ad-size-320x100,.ad-size-240x240,.ad-size-950x90,.ad-size-320x50,.ad-size-620x60 {
	cursor: pointer;
	border: 0 none transparent !important;
	font-family: "Microsoft YaHei", "Arial Unicode MS", Arial, sans-serif;;
	margin: 0;
	padding: 0;
	position: relative;
	overflow: hidden;
}
.banner_bg_default_300x250,
.banner_bg_default_336x280,
.banner_bg_default_250x250,
.banner_bg_default_200x200,
.banner_bg_default_300x600,
.banner_bg_default_160x600,
.banner_bg_default_120x600,
.banner_bg_default_728x90,
.banner_bg_default_468x60,
.banner_bg_default_320x50,
.banner_bg_default_320x100,
.banner_bg_default_240x240,
.banner_bg_default_950x90,
.banner_bg_default_620x60,
.banner_bg_300x250,
.banner_bg_336x280,
.banner_bg_250x250,
.banner_bg_200x200,
.banner_bg_300x600,
.banner_bg_160x600,
.banner_bg_120x600,
.banner_bg_728x90,
.banner_bg_320x50,
.banner_bg_320x100,
.banner_bg_240x240,
.banner_bg_950x90,
.banner_bg_468x60,
.banner_bg_620x60
				{
	background-repeat: no-repeat;
	display: block;
	width: 100%;
	height: 100%;
}

.banner_bg_default_320x50 {
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/320x50Blibli-ID_New_Default.jpg');
}
.banner_bg_default_300x250 {
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/300x250Blibli-ID_New_Default.jpg');
}
.banner_bg_default_728x90 {
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/728x90Blibli-ID_New_Default.jpg');
}
.banner_bg_default_468x60 {
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/468x60Blibli-ID_New_Default.jpg');
}
.banner_bg_default_160x600 {
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/160x600Blibli-ID_New_Default.jpg');
}
.banner_bg_default_336x280 {
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/336x280Blibli-ID_New_Default.jpg');
}
/*xtra sizes*/
.banner_bg_default_300x600 {
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/300x600Blibli-ID_New_Default.jpg');
}
.banner_bg_default_120x600 {
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/120x600Blibli-ID_New_Default.jpg');
}
.banner_bg_default_250x250 {
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/250x250Blibli-ID_New_Default.jpg');
}
.banner_bg_default_200x200 {
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/200x200Blibli-ID_New_Default.jpg');
}
.banner_bg_default_320x100 {
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/320x100Blibli-ID_New_Default.jpg');
}
/* Path for Background Image for Customize frame */

.banner_bg_320x50 {
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/320x50_Blibli-ID_DS6PT_bg.jpg');
}
.banner_bg_300x250 {
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/300x250_Blibli-ID_DS6PT_bg.jpg');
}
.banner_bg_728x90 {
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/728x90_Blibli-ID_DS6PT_bg.jpg');
}
.banner_bg_336x280 {
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/336x280_Blibli-ID_DS6PT_bg.jpg');
}
.banner_bg_468x60 {
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/468x60_Blibli-ID_DS6PT_bg.jpg');
}
.banner_bg_160x600 {
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/160x600_Blibli-ID_DS6PT_bg.jpg');
}
.banner_bg_300x600 {
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/300x600_Blibli-ID_DS6PT_bg.jpg');
}
.banner_bg_320x100 {
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/320x100_Blibli-ID_DS6PT_bg.jpg');
}
.banner_bg_200x200 {
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/200x200_Blibli-ID_DS6PT_bg.jpg');
}
.banner_bg_250x250 {
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/250x250_Blibli-ID_DS6PT_bg.jpg');
}
.banner_bg_120x600 {
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/120x600_Blibli-ID_DS6PT_bg.jpg');
}
.banner_bg_240x240 {
	background-image: url('');
}
.banner_bg_950x90 {
	background-image: url('');
}
.logo{
	display: none !important;
	position: absolute;
	overflow:hidden;
	z-index:99;
}
.logo_disp{
	display: none !important;
	max-width:100%;
	max-height:100%;
	height:100%;
}
.ad-size-300x250 .logo{
	top:0px;
	left:0px;
	width:300px;
	height:30px;
}
.ad-size-336x280 .logo{
	top:0px;
	left:0px;
	width:336px;
	height:30px;
}
.ad-size-250x250 .logo{
	top:0px;
	left:0px;
	width:336px;
	height:30px;
}
.ad-size-240x240 .logo{
	top:0px;
	left:0px;
	width:336px;
	height:30px;
}
.ad-size-200x200 .logo{
	top:0px;
	left:0px;
	width:336px;
	height:30px;
}

.products-list,.prd-details{
	cursor: pointer;
	background: none;
	font-family:Meiryo,Arial,Helvetica,sans-serif;
	display: block;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
}

/* Div or product container Positioning */
.ad-size-320x50 .products-list {
	left: 104px;
	top: 2px;
}
.ad-size-320x100 .products-list {
    left: 138px;
    top: 3px;
}
.ad-size-300x250 .products-list {
    left: 3px;
    top: 52px;
    width: 297px;
    height: 196px;
}
.ad-size-336x280 .products-list {
    left: 3px;
    top: 58px;
    width: 333px;
    height: 222px;
}
.ad-size-250x250 .products-list {
    height: 195px;
    left: 4px;
    top: 55px;
    width: 245px;
}
.ad-size-240x240 .products-list {
	left: 7px;
	top: 57px;
	width:240px;
	height:189px;
}
.ad-size-200x200 .products-list {
	left: 7px;
	top: 56px;
	width:192px;
	height:142px;
}
.ad-size-300x600 .products-list {
	left: 7px;
	top: 55px;
	width:293px;
	height:545px;
}
.ad-size-160x600 .products-list {
    left: 1px;
    top: 104px;
    width: 158px;
}
.ad-size-120x600 .products-list {
    left: 1px;
    top: 94px;
    width: 118px;
}
.ad-size-728x90 .products-list {
	left: 163px;
	top: 3px;
	width:564px;
}
.ad-size-950x90 .products-list {
	left: 198px;
	top: 3px;
	width:752px;
}
.ad-size-468x60 .products-list {
	left: 105px;
	top: 3px;
	width:363px;
	height:54px;
}
.ad-size-620x60 .products-list {
    height: 54px;
    left: 179px;
    top: 3px;
    width: 441px;
}
.bg_element {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
/* Item container */
.item-list-300x250,.item-list-336x280,.item-list-250x250,.item-list-240x240,.item-list-200x200,.item-list-300x600,.item-list-160x600,.item-list-120x600,.item-list-728x90,.item-list-950x90,.item-list-468x60,.item-list-320x50,.item-list-320x100,.item-list-620x60{
	cursor: pointer;
	text-decoration: none;
	display: inline;
	float:left;
	margin: 0;
	overflow: hidden;
	padding: 0px;
	position: relative;
	text-align: left;
	vertical-align: baseline;
	background-color: #fff;
}
.ad-size-320x50 .item-list-320x50 {	
    height: 46px;
    margin: 0 1px 0 0;
    width: 42px;
}
.ad-size-320x100 .item-list-320x100 {	
    height: 45px;
    margin: 0 2px 3px 0;
    width: 43px;
}
.ad-size-300x250 .item-list-300x250 {	
	width: 96px;
	height: 96px;
	margin:0 3px 3px 0;
}
.ad-size-336x280 .item-list-336x280 {
    width: 108px;
    height: 108px;
    margin: 0 3px 3px 0;
}
.ad-size-250x250 .item-list-250x250 {	
    height: 92px;
    margin: 0 4px 4px 0;
    width: 118px;
}
.ad-size-240x240 .item-list-240x240 {	
	width: 116px;
	height: 92px;
	padding: 0 2px 4px 0;
}
.ad-size-200x200 .item-list-200x200 {	
	width: 92px;
	height: 68px;
	margin: 0 3px 3px 0;
}
.ad-size-300x600 .item-list-300x600 {	
	width: 141px;
	height: 132px;
	margin: 0 4px 4px 0;
}
.ad-size-160x600 .item-list-160x600 {	
    height: 159px;
    margin: 0 5px 5px 5px;
    width: 148px;
}
.ad-size-120x600 .item-list-120x600 {	
    height: 121px;
    margin: 0 5px 5px 5px;
    width: 108px;
}
.ad-size-728x90 .item-list-728x90 {
	width: 90px;
	height: 84px;
	margin: 0px 4px 0px 0;
}
.ad-size-950x90 .item-list-950x90 {
	width: 90px;
	height: 84px;
	margin: 0px 4px 0px 0;
}
.ad-size-468x60 .item-list-468x60 {
	width: 58px;
	height: 54px;
	margin: 0px 2px 0px 0;
}
.ad-size-620x60 .item-list-620x60 {
    height: 54px;
    padding: 0 3px 0 0;
    width: 52px;
}

.imgHighlighter{
	border: solid 1px #f36f21;
	z-index:5;
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/thumbBtn.jpg');
	background-repeat: no-repeat;
}

.ad-size-300x250 .imgHighlighter{
	width: 94px;
	height: 94px;
	background-position: bottom center;
}
.ad-size-300x600 .imgHighlighter{
	width: 139px;
	height: 130px;
	background-position: bottom center;
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/300x600_thumbBtn.jpg');
}
.ad-size-336x280 .imgHighlighter{
	width: 106px;
	height: 106px;
	background-position: bottom center;
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/300x600_thumbBtn.jpg');
}
.ad-size-320x50 .imgHighlighter{
	width: 40px;
	height: 44px;
	background-position: bottom center;
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/300x600_thumbBtn.jpg');
}
.ad-size-320x100 .imgHighlighter{
	width: 41px;
	height: 43px;
	background-position: bottom center;
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/300x600_thumbBtn.jpg');
}
.ad-size-468x60 .imgHighlighter{
	width: 56px;
	height: 52px;
	background-position: bottom center;
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/300x600_thumbBtn.jpg');
}
.ad-size-728x90 .imgHighlighter{
	width: 88px;
	height: 82px;
	background-position: bottom center;
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/300x600_thumbBtn.jpg');
}
.ad-size-120x600 .imgHighlighter{
	width: 106px;
	height: 119px;
	background-position: bottom center;
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/300x600_thumbBtn.jpg');
}
.ad-size-160x600 .imgHighlighter{
	width: 146px;
	height: 157px;
	background-position: bottom center;
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/300x600_thumbBtn.jpg');
}
.ad-size-200x200 .imgHighlighter{
	width: 90px;
	height: 66px;
	background-position: bottom center;
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/300x600_thumbBtn.jpg');
}
.ad-size-250x250 .imgHighlighter{
	width: 116px;
	height: 90px;
	background-position: bottom center;
	background-image: url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/300x600_thumbBtn.jpg');
}

/* for adding pop up*/

.ad-size-320x50 .prd-details{
    height: 46px;
    left: 104px;
    top: 2px;
    width: 215px;
}
.ad-size-320x100 .prd-details{
    height: 96px;
    left: 136px;
    top: 2px;
    width: 182px;
}
.ad-size-300x250 .prd-details{
    top: 51px;
    left: 1px;
    width: 299px;
    height: 197px;
    padding-bottom: 0px;
}
.ad-size-336x280 .prd-details{
	top: 58px;
    left: 1px;
    width: 335px;
    height: 222px;
    padding-bottom: 0px;
}
.ad-size-250x250 .prd-details{
    height: 196px;
    left: 4px;
    top: 54px;
    width: 244px;
}
.ad-size-240x240 .prd-details{
	top:53px;
	left:4px;
	width:244px;
	height:192px;
}
.ad-size-200x200 .prd-details{
	top:54px;
	left:3px;
	width:196px;
	height:142px;
	
}
.ad-size-300x600 .prd-details{
	top:54px;
	left:3px;
	width:294px;
	height:544px;
}
.ad-size-160x600 .prd-details{
    height: 490px;
    left: 1px;
    top: 104px;
    width: 158px;
}
.ad-size-120x600 .prd-details{
    height: 508px;
    left: 2px;
    top: 90px;
    width: 117px;
}
.ad-size-728x90 .prd-details{
	top:2px;
	left:163px;
	width:564px;
	height:88px;
}
.ad-size-950x90 .prd-details{
    height: 88px;
    left: 197px;
    top: 2px;
    width: 751px;
}
.ad-size-468x60 .prd-details{
	top:2px;
	left:104px;
	width:364px;
	height:56px;
}
.ad-size-620x60 .prd-details{
    height: 56px;
    left: 178px;
    top: 2px;
    width: 440px;
}
.prd-details{
	display: block;
}
.prd-list-item-300x250,.prd-list-item-336x280,.prd-list-item-250x250,.prd-list-item-240x240,.prd-list-item-200x200,.prd-list-item-300x600,.prd-list-item-160x600,.prd-list-item-120x600,.prd-list-item-728x90,.prd-list-item-950x90,.prd-list-item-468x60,.prd-list-item-320x50,.prd-list-item-320x100,.prd-list-item-620x60{
	font-family:Meiryo,Arial,Helvetica,sans-serif;
	/*display: none !important;*/
	display:block;
	position:absolute;
	overflow:hidden;
	background-color:#ffffff;
	z-index:99;
	background-color: #fff;
}
.prd-list-item-300x250{
    display: block;
    width: 294px;
    height: 196px;
	left:2px;
    background-color: #FFF;
}
.prd-list-item-336x280{
    display: block;
    width: 330px;
    height: 219px;
	left:2px;
    background-color: #FFF;
}
.prd-list-item-250x250{
	display: block;
	width:242px;
	height:192px;
	background-color:#FFF;
	background-repeat:repeat-y;
}
.prd-list-item-240x240{
	display: block;
	width:230px;
	height:181px;
	background-color:#FFF;
}
.prd-list-item-200x200{
	display: block;
	width:192px;
	height:140px;
	left:1px;
	top:1px;
	background-color:#FFF;
}
.prd-list-item-300x600{
	display:block;
	width:294px;
	height:542px;	
	background-color:#FFF;
}
.prd-list-item-160x600{
	display:block;
	width:148px;
	height:490px;
	left: 5px;
	background-color:#FFF;
}
.prd-list-item-120x600{
	display:block;
	width:116px;
	height:508px;
	background-color:#FFF;
}
.prd-list-item-728x90{
	display:block;
	width:558px;
	height:85px;
	background-color:#FFF;
}
.prd-list-item-950x90{
	display:block;
	width:749px;
	height:84px;
	background-color:#FFF;
}
.prd-list-item-468x60{
	display:block ;
	width:362px;
	height:55px;
	background-color:#FFF;
	}
.prd-list-item-320x50{
	display:block ;
	width:214px;
	height:46px;
	background-color:#FFF;
	}
.prd-list-item-320x100{
	left:1px;
	top: 1px;
    background-color: #fff;
    display: block;
    height: 94px;
    width: 180px;
	}
.prd-list-item-620x60{
    background-color: #fff;
    display: block;
    height: 54px;
    width: 437px;
	}
/*.............thumb price with & height.........*/
.thumbPrdOldPrice, .thumbPrdPrice, .thumbPSinglePrice{
	display: none !important;
	position: absolute;
	z-index: 7;
	vertical-align: middle;
	text-align: center;
}
.ad-size-320x50 .thumbPrdPrice, .ad-size-320x50 .thumbPSinglePrice{
    left: 1px;
    top: 78px;
    width: 94px;
    height: 17px;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #606060;
}
.ad-size-320x50 .thumbPrdOldPrice{
	display: none !important;
	left:5px;
	top: 145px;
	width: 128px;
	height: 20px;
	font-size: 15px;
	font-weight: normal;
	color:#666666;
	text-decoration: line-through;
}
.ad-size-320x100 .thumbPrdPrice, .ad-size-320x100 .thumbPSinglePrice{
	display: none !important;
    left: 1px;
    top: 78px;
    width: 94px;
    height: 17px;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #606060;
}
.ad-size-320x100 .thumbPrdOldPrice{
	display: none !important;
	left:5px;
	top: 145px;
	width: 128px;
	height: 20px;
	font-size: 15px;
	font-weight: normal;
	color:#666666;
	text-decoration: line-through;
}
.ad-size-300x250 .thumbPrdPrice, .ad-size-300x250 .thumbPSinglePrice{
    left: 1px;
    top: 78px;
    width: 94px;
    height: 17px;
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #606060;
}
.ad-size-300x250 .thumbPrdOldPrice{
	display: none !important;
	left:5px;
	top: 145px;
	width: 128px;
	height: 20px;
	font-size: 15px;
	font-weight: normal;
	color:#666666;
	text-decoration: line-through;
}
.ad-size-300x600 .thumbPrdPrice, .ad-size-300x600 .thumbPSinglePrice{
    background-color: #606060;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    height: 17px;
    left: 1px;
    top: 114px;
    width: 139px;
}
.ad-size-300x600 .thumbPrdOldPrice{
	display: none !important;
	left:5px;
	top: 123px;
	width: 128px;
	height: 18px;
	font-size: 12px;
	font-weight: normal;
	color:#666666;
	text-decoration: line-through;
}
.ad-size-728x90 .thumbPrdPrice, .ad-size-728x90 .thumbPSinglePrice{
    background-color: #606060;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    height: 17px;
    left: 1px;
    top: 66px;
    width: 88px;
}
.ad-size-728x90 .thumbPrdOldPrice{
	display: none !important;
	left:105px;
	top: 38px;
	width: 128px;
	height: 17px;
	font-size: 12px;
	font-weight: normal;
	color:#666666;
	text-decoration: line-through;
}
.ad-size-950x90 .thumbPrdPrice, .ad-size-950x90 .thumbPSinglePrice{
    background-color: #606060;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    height: 17px;
    left: 1px;
    top: 66px;
    width: 88px;
}
.ad-size-950x90 .thumbPrdOldPrice{
	display: none !important;
	left:105px;
	top: 38px;
	width: 128px;
	height: 17px;
	font-size: 12px;
	font-weight: normal;
	color:#666666;
	text-decoration: line-through;
}
.ad-size-468x60 .thumbPrdPrice, .ad-size-468x60 .thumbPSinglePrice{
	display: none !important;
	left:61px;
	top: 35px;
	width: 121px;
	height: 19px;
	font-size: 15px;
	font-weight:bold;
	color:#d7410b;
}
.ad-size-468x60 .thumbPrdOldPrice{
	display: none !important;
	left:61px;
	top: 20px;
	width: 121px;
	height: 16px;
	font-size: 11px;
	font-weight: normal;
	color:#666666;
	text-decoration: line-through;
}
.ad-size-250x250 .thumbPrdPrice, .ad-size-250x250 .thumbPSinglePrice{
    background-color: #606060;
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    height: 17px;
    left: 1px;
    top: 76px;
    width: 114px;
}
.ad-size-250x250 .thumbPrdOldPrice{
	display: none !important;
	left:0px;
	top: 145px;
	width: 114px;
	height: 20px;
	font-size: 15px;
	font-weight: normal;
	color:#666666;
	text-decoration: line-through;
}
.ad-size-200x200 .thumbPrdPrice, .ad-size-200x200 .thumbPSinglePrice{
	display: none !important;
	left:1px;
	top: 135px;
	width: 93px;
	height: 20px;
	font-size: 15px;
	font-weight:bold;
	color:#d7410b;
}
.ad-size-200x200 .thumbPrdOldPrice{
	display: none !important;
	left:1px;
	top: 116px;
	width: 93px;
	height: 18px;
	font-size: 13px;
	font-weight: normal;
	color:#666666;
	text-decoration: line-through;
}
.ad-size-160x600 .thumbPrdPrice, .ad-size-160x600 .thumbPSinglePrice{
    background-color: #606060;
    color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    height: 21px;
    left: 1px;
    top: 112px;
    width: 152px;
}
.ad-size-160x600 .thumbPrdOldPrice{
	display: none !important;
	left:5px;
	top: 185px;
	width: 140px;
	height: 20px;
	font-size: 15px;
	font-weight: normal;
	color:#666666;
	text-decoration: line-through;
}
.ad-size-120x600 .thumbPrdPrice, .ad-size-120x600 .thumbPSinglePrice{
    background-color: #606060;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    height: 21px;
    left: 1px;
    top: 112px;
    width: 114px;
}
.ad-size-120x600 .thumbPrdOldPrice{
	display: none !important;
	left:5px;
	top: 175px;
	width: 101px;
	height: 20px;
	font-size: 15px;
	font-weight: normal;
	color:#666666;
	text-decoration: line-through;
}

.ad-size-336x280 .thumbPrdPrice, .ad-size-336x280 .thumbPSinglePrice{
    left: 1px;
    top: 90px;
    width: 106px;
    height: 17px;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #606060;
}
.ad-size-336x280 .thumbPrdOldPrice{
	display: none !important;
	left:24px;
	top: 163px;
	width: 128px;
	height: 20px;
	font-size: 15px;
	font-weight: normal;
	color:#666666;
	text-decoration: line-through;
}
.ad-size-620x60 .thumbPrdPrice, .ad-size-620x60 .thumbPSinglePrice{
	display: none !important;
	left:61px;
	top: 35px;
	width: 121px;
	height: 19px;
	font-size: 15px;
	font-weight:bold;
	color:#d7410b;
}
.ad-size-620x60 .thumbPrdOldPrice{
	display: none !important;
	left:61px;
	top: 20px;
	width: 121px;
	height: 16px;
	font-size: 11px;
	font-weight: normal;
	color:#666666;
	text-decoration: line-through;
}
.thumbImgHolder,.bannerimages,.imgHighlighter{
	display: block;
	position:absolute;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 4;
	vertical-align: middle;
	text-align: center;
}
/*.ad-size-300x250 .thumbImgHolder.ad-size-160x600 .thumbImgHolder, .ad-size-728x90 .thumbImgHolder, .ad-size-336x280 .thumbImgHolder, .ad-size-468x60 .thumbImgHolder, .ad-size-320x50 .thumbImgHolder{
	width:100%;
	height:100%;
}*/
.thumbPriceDiff{
	font-family:Meiryo,Arial,Helvetica,sans-serif;
	display: block;
	position:absolute;
	background-position: center;
	background-color:#e70012;
	background-repeat: no-repeat;
	z-index: 4;
	vertical-align: middle;
}
.ad-size-300x250 .thumbPriceDiff{
	top: 1px;
    left: 1px;
    text-align: center;
    color: #FFF;
    font-size: 9px;
    font-style: bold;
    width: 33px;
    height: 13px;
}
.ad-size-320x50 .thumbPriceDiff{
	display: none !important;
	top: 1px;
    left: 1px;
    text-align: center;
    color: #FFF;
    font-size: 9px;
    font-style: bold;
    width: 33px;
    height: 13px;
}
.ad-size-320x100 .thumbPriceDiff{
	display: none !important;
	top: 1px;
    left: 1px;
    text-align: center;
    color: #FFF;
    font-size: 9px;
    font-style: bold;
    width: 33px;
    height: 13px;
}
.ad-size-336x280 .thumbPriceDiff{
	top: 1px;
    left: 1px;
    text-align: center;
    color: #FFF;
    font-size: 9px;
    font-style: bold;
    width: 33px;
    height: 13px;
}
.ad-size-250x250 .thumbPriceDiff{
	top: 1px;
    left: 1px;
    text-align: center;
    color: #FFF;
    font-size: 9px;
    font-style: bold;
    width: 33px;
    height: 13px;
}
.ad-size-240x240 .thumbPriceDiff{
	top: 1px;
    left: 1px;
    text-align: center;
    color: #FFF;
    font-size: 9px;
    font-style: bold;
    width: 33px;
    height: 13px;
}
.ad-size-200x200 .thumbPriceDiff{
	top: 1px;
    left: 1px;
    text-align: center;
    color: #FFF;
    font-size: 9px;
    font-style: bold;
    width: 33px;
    height: 13px;
}
.ad-size-300x600 .thumbPriceDiff{
	top: 1px;
    left: 1px;
    text-align: center;
    color: #FFF;
    font-size: 9px;
    font-style: bold;
    width: 33px;
    height: 13px;
}
.ad-size-160x600 .thumbPriceDiff{
	top: 1px;
    left: 1px;
    text-align: center;
    color: #FFF;
    font-size: 9px;
    font-style: bold;
    width: 33px;
    height: 13px;
}
.ad-size-120x600 .thumbPriceDiff{
	top: 1px;
    left: 1px;
    text-align: center;
    color: #FFF;
    font-size: 9px;
    font-style: bold;
    width: 33px;
    height: 13px;
}
.ad-size-728x90 .thumbPriceDiff{
	top: 1px;
    left: 1px;
    text-align: center;
    color: #FFF;
    font-size: 9px;
    font-style: bold;
    width: 33px;
    height: 13px;
}
.ad-size-950x90 .thumbPriceDiff{
	top: 1px;
    left: 1px;
    text-align: center;
    color: #FFF;
    font-size: 9px;
    font-style: bold;
    width: 33px;
    height: 13px;
}
.ad-size-468x60 .thumbPriceDiff{
    color: #fff;
    font-size: 8px;
    height: 13px;
    left: 1px;
    text-align: center;
    top: 1px;
    width: 28px;
}
.ad-size-620x60 .thumbPriceDiff{
    color: #fff;
    font-size: 8px;
    height: 13px;
    left: 1px;
    text-align: center;
    top: 1px;
    width: 28px;
}
/* VIMP THUMBNAIL IMAGE WIDTH AND HEIGHT*/
.ad-size-300x250 .thumbImgHolder{
	width:90px;
	height:90px;
	left:3px;
	top:1px;
}
.ad-size-320x50 .thumbImgHolder{
    height: 44px;
    left: 1px;
    top: 1px;
    width: 40px;
}
.ad-size-320x100 .thumbImgHolder{
    height: 39px;
    left: 2px;
    top: 2px;
    width: 39px;
}
.ad-size-336x280 .thumbImgHolder{
    width: 100px;
    height: 100px;
    left: 4px;
    top: 2px;
}
.ad-size-250x250 .thumbImgHolder{
    height: 90px;
    left: 15px;
    top: 2px;
    width: 90px;
}
.ad-size-240x240 .thumbImgHolder{
	width:100px;
	height:80px;
	left:4px;
	top:0px;
}
.ad-size-200x200 .thumbImgHolder{
    height: 60px;
    left: 17px;
    top: 3px;
    width: 60px;
}
.ad-size-300x600 .thumbImgHolder{
    height: 130px;
    left: 6px;
    top: 1px;
    width: 130px;
}
.ad-size-160x600 .thumbImgHolder{
    height: 130px;
    left: 12px;
    top: 2px;
    width: 130px;
}
.ad-size-120x600 .thumbImgHolder{
    height: 113px;
    left: 4px;
    top: 4px;
    width: 100px;
}
.ad-size-728x90 .thumbImgHolder{
    height: 78px;
    left: 6px;
    top: 1px;
    width: 78px;
}
.ad-size-950x90 .thumbImgHolder{
    height: 78px;
    left: 7px;
    top: 1px;
    width: 78px;
}
.ad-size-468x60 .thumbImgHolder{
    height: 47px;
    left: 6px;
    top: 6px;
    width: 47px;
}
.ad-size-620x60 .thumbImgHolder{
    height: 47px;
    left: 2px;
    top: 3px;
    width: 47px;
}

/*
.ad-size-300x250 .prdPrice, .ad-size-300x250 .thumbPriceDiff{
	bottom:50px;
	left:5px;
	text-align: center;
	color:#FFF;
	font-size:10px;
	font-style:bold;
	width: 60px;
	height: 15px;
}
*/

.ad-size-300x250 .bannerimages {
    width: 147px;
    height: 147px;
    left: 3px;
    top: 21px;
}
.ad-size-320x50 .bannerimages {
    height: 42px;
    left: 2px;
    top: 2px;
    width: 42px;
}
.ad-size-320x100 .bannerimages {
	width: 90px;
	height: 90px;
	left:2px;
	top:2px;
}
.ad-size-336x280 .bannerimages {
    width: 147px;
    height: 147px;
    left: 13px;
    top: 38px;
}
.ad-size-250x250 .bannerimages {
    height: 130px;
    left: 49px;
    top: 3px;
    width: 130px;
}
.ad-size-240x240 .bannerimages {
	width: 220px;
	height: 110px;
	left:5px;
	top:3px;
}
.ad-size-200x200 .bannerimages {
    height: 90px;
    left: 46px;
    top: 2px;
    width: 90px;
}
.ad-size-300x600 .bannerimages {
    height: 250px;
    left: 21px;
    top: 17px;
    width: 250px;
}
.ad-size-160x600 .bannerimages {
    height: 144px;
    left: 2px;
    top: 66px;
    width: 147px;
}
.ad-size-120x600 .bannerimages {
    height: 140px;
    left: 2px;
    top: 69px;
    width: 112px;
}
.ad-size-728x90 .bannerimages {
	width: 78px;
	height: 78px;
	top: 3px;
	left:30px;
}
.ad-size-950x90 .bannerimages {
	width: 78px;
	height: 78px;
	top: 3px;
	left:30px;
}
.ad-size-468x60 .bannerimages {
    height: 47px;
    left: 9px;
    top: 4px;
    width: 47px;
}
.ad-size-620x60 .bannerimages {
    height: 47px;
    left: 42px;
    top: 3px;
    width: 47px;
}
.ad-size-160x600 .item-list-160x600 .bannerimages {
	width: 144px;
	height: 165px;
	top: 50px;
	left:1px;
}
.ad-size-336x280 .item-list-336x280 .bannerimages {
	width: 125px;
	height: 125px;
	top: 50px;
	left:2px;
}
.ad-size-468x60 .item-list-468x60 .bannerimages {
	width: 45px;
	height: 52px;
	top: 1px;
	left:2px;
}
.ad-size-620x60 .item-list-468x60 .bannerimages {
	width: 45px;
	height: 52px;
	top: 1px;
	left:2px;
}
/* misc starts here*/
.prdTitle,.prdMisc1,.prdMisc2 {
	font-family:Meiryo,Arial,Helvetica,sans-serif;
	font-weight: normal;
	z-index: 4;
	overflow: hidden;
	position: absolute;
	text-align: center;
	vertical-align: middle;
}
.prdMisc1{
	display: none !important;
}
.prdMisc2{
	display: none !important;
}


.prdTitle {
	display: block;
	font-family: "Microsoft YaHei", "Arial Unicode MS", Arial, sans-serif;
	font-weight:normal;
	z-index: 4;
	overflow: hidden;
	position: absolute;
	text-align: center;
	vertical-align: middle;
}
.ad-size-300x250 .prdTitle {
	top:5px;
	left:160px;
}
.ad-size-320x50 .prdTitle {
	top:3px;
	left:46px;
}
.ad-size-320x100 .prdTitle {
	top:3px;
	left:94px;
}
.ad-size-336x280 .prdTitle {
	top:5px;
	left:184px;
}
.ad-size-250x250 .prdTitle {
	top:140px;
	left:3px;
}
.ad-size-240x240 .prdTitle {
	top:130px;
	left:3px;
}
.ad-size-200x200 .prdTitle {
	top:96px;
	left:5px;
}
.ad-size-300x600 .prdTitle {
	top:300px;
	left:15px;
}
.ad-size-160x600 .prdTitle {
	top:250px;
	left:4px;
}
.ad-size-120x600 .prdTitle {
    left: 2px;
    top: 240px;
}
.ad-size-728x90 .prdTitle {
	top:3px;
	left:156px;
}
.ad-size-950x90 .prdTitle {
	top:8px;
	left:156px;
}
.ad-size-468x60 .prdTitle {
	top:1px;
	left:68px;
}
.ad-size-620x60 .prdTitle {
    left: 126px;
    top: 4px;
}

.titleText {
	font-family: "Microsoft YaHei", "Arial Unicode MS", Arial, sans-serif;
	font-style:bold;
	position:relative;
	display:block;
	vertical-align:middle;
}

.ad-size-300x250 .titleText {
    font-weight: normal;
    text-align: left;
    color: #000000;
    line-height: 17px;
    font-size: 12px;
    width: 124px;
    height: 52px;
}
.ad-size-320x50 .titleText {
	font-weight: normal;
	text-align: left;
	color:#000000;
	line-height:12px;
	font-size:10px;
	width: 153px;
	height: 15px;
}
.ad-size-320x100 .titleText {
    color: #000000;
    font-size: 9px;
    font-weight: normal;
    height: 28px;
    line-height: 13px;
    text-align: left;
    width: 85px;
}
.ad-size-336x280 .titleText {
	font-weight: normal;
	text-align: left;
	color:#000000;
	line-height:17px;
	font-size:14px;
	width: 136px;
	height: 60px;
}
.ad-size-250x250 .titleText {
	font-weight:bold;
	text-align: center;
	color:#000000;
	font-size:11px;
	width: 234px;
	height: 18px;
}
.ad-size-240x240 .titleText {
	font-weight:bold;
	text-align: center;
	color:#000000;
	line-height:16px;
	font-size:12px;
	width: 224px;
	height: 18px;
}
.ad-size-200x200 .titleText {
	font-weight: normal;
	text-align: left;
	color:#000000;
	line-height:14px;
	font-size:11px;
	width: 184px;
	height: 17px;
}
.ad-size-300x600 .titleText {
	font-weight: normal;
	text-align: center;
	color:#000000;
	line-height:22px;
	font-size:16px;
	width: 260px;
	height: 70px;
}
.ad-size-160x600 .titleText {
	font-weight: normal;
	text-align: center;
	color:#000000;
	line-height:20px;
	font-size:15px;
	width: 140px;
	height: 90px;
}
.ad-size-120x600 .titleText {
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    height: 90px;
    line-height: 19px;
    text-align: center;
    width: 112px;
}
.ad-size-728x90 .titleText {
    color: #000000;
    font-size: 14px;
    font-weight: normal;
    height: 40px;
    line-height: 18px;
    text-align: left;
    width: 250px;
}
.ad-size-950x90 .titleText {
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    height: 23px;
    line-height: 15px;
    text-align: left;
    width: 529px;
}
.ad-size-468x60 .titleText {
	font-weight: normal;
	text-align: left;
	color:#000000;
	line-height:15px;
	font-size:11px;
	width: 110px;
	height: 32px;
}
.ad-size-620x60 .titleText {
	font-weight:bold;
	text-align: left;
	color:#000000;
	line-height:15px;
	font-size:11px;
	width: 270px;
	height: 18px;
}

.prdPrice,.prdSinglePrice,.prdOldPrice{
	font-family: "Microsoft YaHei", "Arial Unicode MS", Arial, sans-serif;
	font-weight:normal;
	z-index: 4;
	left: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	text-align: left;
	top: auto;
	width: 100%;
	vertical-align: middle;
}

.ad-size-300x250 .prdPrice,.ad-size-300x250 .prdSinglePrice{
    top: 61px;
    color: #f37022;
    display: block;
    font-size: 14px;
	line-height: 19px;
    font-weight: bold;
    height: 20px;
    left: 160px;
    text-align: left;
    vertical-align: middle;
    width: 133px;
}
.ad-size-320x50 .prdPrice,.ad-size-320x50 .prdSinglePrice{
    bottom: 4px;
    color: #f37022;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 17px;
    left: 46px;
    text-align: left;
    vertical-align: middle;
    width: 97px;
}
.ad-size-320x100 .prdPrice,.ad-size-320x100 .prdSinglePrice{
    top: 36px;
    color: #f37022;
    display: block;
    font-size: 11px;
    font-weight: bold;
    height: 19px;
    left: 94px;
    text-align: left;
    vertical-align: middle;
    width: 84px;
}

.ad-size-336x280 .prdPrice,.ad-size-336x280 .prdSinglePrice{
    text-align: left;
    display: block;
    vertical-align: middle;
    font-weight: bold;
    top: 77px;
    color: #f37022;
    font-size: 14px;
	line-height: 19px;
    height: 24px;
    width: 136px;
    left: 184px;
}
.ad-size-250x250 .prdPrice,.ad-size-250x250 .prdSinglePrice{
	 bottom: 3px;
    color: #f37022;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 22px;
    left: 91px;
    text-align: left;
    vertical-align: middle;
    width: 95px;
}
.ad-size-240x240 .prdPrice,.ad-size-240x240 .prdSinglePrice{
	text-align: left;
	display:block;
	font-weight:bold;
	vertical-align:middle;
	bottom: 2px;
	color: #f37022;
	font-size: 13px;
	height: 22px;
	width:86px;
	left:74px;
}
.ad-size-200x200 .prdPrice,.ad-size-200x200 .prdSinglePrice{
    bottom: 2px;
    color: #f37022;
    display: block;
    font-size: 12px;
    font-weight: bold;
	line-height:15px;
    height: 18px;
    left: 5px;
    text-align: left;
    vertical-align: middle;
    width: 107px;
}
.ad-size-300x600 .prdPrice,.ad-size-300x600 .prdSinglePrice{
	text-align: center;
	display:block;
	vertical-align:middle;
	font-weight:bold;
	bottom: 120px;
	color: #f37022;
	font-size: 22px;
	line-height: 27px;
	height: 34px;
	width:240px;
	left:25px;
}
.ad-size-160x600 .prdPrice,.ad-size-160x600 .prdSinglePrice{
	display:block;
	vertical-align:middle;
	font-weight:bold;
	text-align:center;
	bottom:110px;
	color: #f37022;
	font-size: 15px;
	line-height: 20px;
	height: 26px;
	width:144px;
	left:2px;
}
.ad-size-120x600 .prdPrice,.ad-size-120x600 .prdSinglePrice{
	display:block;
	vertical-align:middle;
	text-align:center;
	font-weight:bold;
	bottom:150px;
	color: #f37022;
	font-size: 12px;
	height: 22px;
	width:112px;
	left:2px;
}
.ad-size-728x90 .prdPrice,.ad-size-728x90 .prdSinglePrice{
	display:block;
	vertical-align:middle;
	text-align: left;
	font-weight:bold;
	bottom:11px;
	color: #f37022;
	font-size: 19px;
	height: 26px;
	width:142px;
	left:276px;
}
.ad-size-950x90 .prdPrice,.ad-size-950x90 .prdSinglePrice{
	display:block;
	vertical-align:middle;
	text-align: left;
	font-weight:bold;
	bottom:11px;
	color: #f37022;
	font-size: 19px;
	height: 26px;
	width:142px;
	left:276px;
}
.ad-size-468x60 .prdPrice,.ad-size-468x60 .prdSinglePrice{
	display:block;
	vertical-align:middle;
	text-align:left;
	bottom:2px;
	color: #f37022;
	font-size: 12px;
	line-height: 17px;
	font-weight: bold;
	height: 19px;
	width:130px;
	left:68px;
}
.ad-size-620x60 .prdPrice,.ad-size-620x60 .prdSinglePrice{
    bottom: 4px;
    color: #f37022;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: 22px;
    left: 221px;
    text-align: left;
    vertical-align: middle;
    width: 110px;
}

.ad-size-300x250 .prdSinglePrice{
	top:70px;
}
.ad-size-320x100 .prdSinglePrice{
	top:45px;
}
.ad-size-336x280 .prdSinglePrice{
	bottom:115px;
}
.ad-size-250x250 .prdSinglePrice{
	left:4px;
}
.ad-size-240x240 .prdSinglePrice{
	left:4px;
}
.ad-size-300x600 .prdSinglePrice{
	bottom:96px;
}
.ad-size-120x600 .prdSinglePrice{
	bottom:140px;
}
.ad-size-160x600 .prdSinglePrice{
	bottom:110px;
}
.ad-size-728x90 .prdSinglePrice{
	left:156px;
}
.ad-size-950x90 .prdSinglePrice{
	left:156px;
}
.ad-size-620x60 .prdSinglePrice{
	left:126px;
}



/*old price*/
.ad-size-300x250 .prdOldPrice{
    text-align: left;
    display: block;
    vertical-align: middle;
    bottom: 96px;
    text-decoration: line-through;
    font-weight: normal;
    color: #7d7d7d;
    font-size: 11px;
	line-height: 15px;
    height: 16px;
    width: 124px;
    left: 160px;
}
.ad-size-320x50 .prdOldPrice{
	display:none !important;
	text-decoration:line-through;
	vertical-align:middle;
	bottom:90px;
	color: #333333;
	font-size:12px;
	height: 17px;
	left:156px;
	width:130px;
}
.ad-size-320x100 .prdOldPrice{
	color: #7d7d7d;
    display: block;
    font-size: 10px;
	text-decoration: line-through;
    font-weight: normal;
    height: 19px;
    left: 94px;
    text-align: left;
    top: 54px;
    vertical-align: middle;
    width: 84px;
}
.ad-size-336x280 .prdOldPrice{
    text-decoration: line-through;
    text-align: left;
    display: block;
    vertical-align: middle;
    font-weight: normal;
    bottom: 95px;
    color: #000000;
    font-size: 12px;
	line-height: 17px;
    height: 18px;
    width: 136px;
    left: 184px;
}
.ad-size-250x250 .prdOldPrice{
    bottom: 7px;
    color: #000000;
    display: block;
    font-size: 10px;
    font-weight: normal;
    height: 17px;
    left: 4px;
    text-align: left;
    text-decoration: line-through;
    vertical-align: middle;
    width: 79px;
}
.ad-size-240x240 .prdOldPrice{
	text-decoration:line-through;
	text-align: left;
	display:block;
	font-weight:normal;
	vertical-align:middle;
	bottom: 0px;
	color: #000000;
	font-size: 9px;
	height: 22px;
	width:86px;
	left:4px;
}
.ad-size-200x200 .prdOldPrice{
	display:none !important;
	text-decoration:line-through;
	text-align: left;
	display:block;
	font-weight:normal;
	vertical-align:middle;
	bottom: 4px;
	color: #000000;
	font-size: 10px;
	height: 17px;
	width:60px;
	left:4px;
}
.ad-size-300x600 .prdOldPrice{
	text-decoration:line-through;
	text-align: center;
	display:block;
	vertical-align:middle;
	font-weight:normal;
	bottom: 90px;
	color: #000000;
	font-size: 16px;
	line-height: 22px;
	height: 24px;
	width:240px;
	left:25px;
}
.ad-size-160x600 .prdOldPrice{
	text-decoration:line-through;
	display:block;
	vertical-align:middle;
	font-weight:normal;
	text-align:center;
	bottom:90px;
	color: #000000;
	font-size: 14px;
	line-height: 20px;
	height: 24px;
	width:148px;
	left:2px;
}
.ad-size-120x600 .prdOldPrice{
	text-decoration:line-through;
	display:block;
	vertical-align:middle;
	text-align:center;
	font-weight:normal;
	bottom:120px;
	color: #000000;
	font-size: 12px;
	height: 20px;
	width:112px;
	left:2px;
}
.ad-size-728x90 .prdOldPrice{
	text-decoration:line-through;
	display:block;
	vertical-align:middle;
	text-align: left;
	font-weight:normal;
	bottom:11px;
	color: #000000;
	font-size: 15px;
	height: 22px;
	width:120px;
	left:156px;
}
.ad-size-950x90 .prdOldPrice{
	text-decoration:line-through;
	display:block;
	vertical-align:middle;
	text-align: left;
	font-weight:normal;
	bottom:11px;
	color: #000000;
	font-size: 15px;
	height: 22px;
	width:110px;
	left:156px;
}
.ad-size-468x60 .prdOldPrice{
	display: none !important;
    bottom: 4px;
    color: #000000;
    display: block;
    font-size: 12px;
    font-weight: normal;
    height: 20px;
    left: 68px;
    text-align: left;
    text-decoration: line-through;
    vertical-align: middle;
    width: 82px;
}
.ad-size-620x60 .prdOldPrice{
    bottom: 4px;
    color: #000000;
    display: block;
    font-size: 12px;
    font-weight: normal;
    height: 20px;
    left: 126px;
    text-align: left;
    text-decoration: line-through;
    vertical-align: middle;
    width: 92px;
}
.banner-btn {
	display:block;
	background-repeat:no-repeat;
	z-index: 6;
	margin: 0;
	overflow: hidden;
	position: absolute;
	background-position: center;
}
.banner-btn-hg {
	border:none !important;
	border-radius:0px;
	position: absolute;
	text-align: center;
	display: block;
	z-index:4;
}
.ad-size-300x250 .banner-btn-hg {
	width:92px;
	height:183px;	
	top:auto;
	left:auto;
}
.ad-size-320x50 .banner-btn-hg {
	width:80px;
	height:183px;	
	top:auto;
	left:auto;
}
.ad-size-336x280 .banner-btn-hg {
	width:92px;
	height:183px;	
	top:auto;
	left:auto;
}
.ad-size-250x250 .banner-btn-hg {
	width:92px;
	height:183px;	
	top:auto;
	left:auto;
}
.ad-size-240x240 .banner-btn-hg {
	width:92px;
	height:183px;	
	top:auto;
	left:auto;
}
.ad-size-200x200 .banner-btn-hg {
	width:85px;
	height:25px;	
	top:auto;
	left:auto;
}
.ad-size-300x600 .banner-btn-hg {
	width:92px;
	height:183px;	
	top:auto;
	left:auto;
}
.ad-size-160x600 .banner-btn-hg {
	width:142px;
	height:257px;
	top:auto;
	left:auto;
}
.ad-size-120x600 .banner-btn-hg {
	width:142px;
	height:257px;
	top:auto;
	left:auto;
}
.ad-size-728x90 .banner-btn-hg {
	width:187px;
	height:80px;	
	top:2px;
	left:auto;
}
.ad-size-950x90 .banner-btn-hg {
	width:187px;
	height:80px;	
	top:2px;
	left:auto;
}
.ad-size-468x60 .banner-btn-hg {
	width:98%;
	height:93%;	
	top:auto;
	left:auto;
}
.ad-size-620x60 .banner-btn-hg {
	width:98%;
	height:93%;	
	top:auto;
	left:auto;
}

.ad-size-300x250 .banner-btn {
	background-image:url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/300x250_CTA_Btn.jpg');
    bottom: 10px;
    height: 79px;
    left: 160px;
    width: 119px;
}
.ad-size-320x50 .banner-btn {
	background-image:url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/320x50_CTA_Btn.jpg');
    bottom: 6px;
    height: 13px;
    right: 1px;
    width:50px;
	background-color: #f36f21;
	background-position: center;
}
.ad-size-320x100 .banner-btn {
	background-image:url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/thumbBtn.jpg');
	background-position: center;
    bottom: 1px;
    height:  17px;
    left: 94px;
    width: 83px;
}
.ad-size-336x280 .banner-btn {
	background-image:url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/300x250_CTA_Btn.jpg');
    bottom: 10px;
    height: 79px;
    left: 184px;
    width: 119px;
}
.ad-size-250x250 .banner-btn {
	background-image:url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/320x50_CTA_Btn.jpg');
	background-color: #f37022;
    bottom: 7px;
    height: 16px;
    right: 4px;
    width: 45px;
}
.ad-size-240x240 .banner-btn {
	background-image:url('');
	height: 15px;
	width: 52px;
	left:162px;
	bottom:8px;
}
.ad-size-200x200 .banner-btn {
	background-image:url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/320x50_CTA_Btn.jpg');
	background-color: #f37022;
    bottom: 5px;
    height: 16px;
    right: 4px;
    width: 45px;
}
.ad-size-300x600 .banner-btn {
	background-image:url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/300x600_CTA_Btn.jpg');
    bottom: 5px;
    height: 78px;
    left: 0;
    width: 295px;
}
.ad-size-160x600 .banner-btn {
	background-image:url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/300x250_CTA_Btn.jpg');
	background-size: contain;
    bottom: 10px;
    height: 79px;
    left: 19px;
    width: 112px;
}
.ad-size-120x600 .banner-btn {
	background-image:url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/300x250_CTA_Btn.jpg');
	background-size: contain;
    bottom: 10px;
    height: 79px;
    left: 2px;
    width: 112px;
}
.ad-size-728x90 .banner-btn {
	background-image:url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/728x90_CTA_Btn.jpg');
    bottom: 4px;
    height: 79px;
    right: 10px;
    width: 119px;
}
.ad-size-950x90 .banner-btn {
	background-image:url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/300x250_CTA_Btn.jpg');
    bottom: 3px;
    height: 42px;
    left: 549px;
    width: 53px;
}
.ad-size-468x60 .banner-btn {
	background-image:url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/468x60_CTA_Btn.jpg');
    bottom: 2px;
    height: 46px;
    right: 5px;
    width: 167px;
}
.ad-size-620x60 .banner-btn {
	background-image:url('//cdn5.vizury.com/banners/images/common/images/Blibli-ID/300x250_CTA_Btn.jpg');
    bottom: 2px;
    height: 29px;
    left: 360px;
    width: 35px;
}

.webOffer {
display: block;
overflow: hidden;
position: absolute;
text-align: center;
vertical-align: middle;

}

/* bliker script*/


@-moz-keyframes webOffer {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes webOffer {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

@keyframes webOffer {  
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}


.ad-size-300x250 .webOffer {
    left: 145px;
    top: 4px;
}
.ad-size-336x280 .webOffer {
    left: 165px;
    top: 4px;
}
.ad-size-728x90 .webOffer {
    left: 2px;
    top: 45px;
}
.ad-size-950x90 .webOffer {
    left: 2px;
    top: 44px;
}
.ad-size-468x60 .webOffer {
    left: 1px;
    top: 27px;
}
.ad-size-320x50 .webOffer {
    left: 145px;
    top: 4px;
}
.ad-size-160x600 .webOffer {
    left: 2px;
    top: 25px;
}
.ad-size-120x600 .webOffer {
    left: 1px;
    top: 23px;
}
.ad-size-250x250 .webOffer {
    left: 121px;
    top: 1px;
}
.ad-size-240x240 .webOffer {
    left: 145px;
    top: 4px;
}
.ad-size-300x600 .webOffer {
    left: 145px;
    top: 4px;
}
.ad-size-320x100 .webOffer {
    left: 2px;
    top: 49px;
}
.ad-size-200x200 .webOffer {
    left: 99px;
    top: 4px;
}
.ad-size-620x60 .webOffer {
    left: 1px;
    top: 26px;
}


.offer-data {
position: relative;
display: block;
vertical-align: middle;
}

.ad-size-300x250 .offer-data {
    font-size: 11px;
    background-color: #c51230;
    color: #ffe4e9;
    font-weight: 800;
    width: 151px;
    height: 43px;
}

.ad-size-336x280 .offer-data {
    font-size: 11px;
    background-color: #c51230;
    color: #ffe4e9;
    font-weight: 800;
    width: 165px;
    height: 47px;
}
.ad-size-728x90 .offer-data {
    background-color: #c51230;
    color: #ffe4e9;
    font-size: 11px;
    font-weight: 800;
    height: 43px;
    width: 155px;
}
.ad-size-950x90 .offer-data {
    background-color: #c51230;
    color: #ffe4e9;
    font-size: 11px;
    font-weight: 800;
    height: 43px;
    width: 190px;
}
.ad-size-468x60 .offer-data {
    background-color: #c51230;
    color: #ffe4e9;
    font-size: 8px;
    font-weight: 800;
    height: 32px;
    width: 101px;
}
.ad-size-320x50 .offer-data {
	display: none !important;
    font-size: 11px;
    background-color: #c51230;
    color: #ffe4e9;
    font-weight: 800;
    width: 151px;
    height: 43px;
}
.ad-size-160x600 .offer-data {
    background-color: #c51230;
    color: #ffe4e9;
    font-size: 10px;
    font-weight: 800;
    height: 32px;
    width: 156px;
}
.ad-size-120x600 .offer-data {
    background-color: #c51230;
    color: #ffe4e9;
    font-size: 9px;
    font-weight: 800;
    height: 34px;
    width: 118px;
}
.ad-size-250x250 .offer-data {
    background-color: #c51230;
    color: #ffe4e9;
    font-size: 11px;
    font-weight: 800;
    height: 49px;
    width: 126px;
}
.ad-size-240x240 .offer-data {
    font-size: 11px;
    background-color: #c51230;
    color: #ffe4e9;
    font-weight: 800;
    line-height: 14px;
    width: 151px;
    height: 43px;
}
.ad-size-300x600 .offer-data {
    font-size: 11px;
    background-color: #c51230;
    color: #ffe4e9;
    font-weight: 800;
    line-height: 14px;
    width: 151px;
    height: 43px;
}
.ad-size-320x100 .offer-data {
    background-color: #c51230;
    color: #ffe4e9;
    font-size: 11px;
    font-weight: 800;
    height: 50px;
    line-height: 14px;
    width: 130px;
}
.ad-size-200x200 .offer-data {
    background-color: #c51230;
    color: #ffe4e9;
    font-size: 9px;
    font-weight: 800;
    height: 43px;
    width: 98px;
}
.ad-size-620x60 .offer-data {
    background-color: #c51230;
    color: #ffe4e9;
    font-size: 10px;
    font-weight: 800;
    height: 33px;
    width: 173px;
}
.discount-value{
	display: block;
	background-color: #ff0000;
	z-index: 8;
	text-align: center;
	position: absolute;
	color: #ffffff;
}
.ad-size-300x250 .discount-value{
    width: 31px;
    top: 0px;
    left: 0px;
    padding: 2px;
    font-size: 11px;
}
.ad-size-336x280 .discount-value{
    width: 31px;
    top: 0px;
    left: 0px;
    padding: 2px;
    font-size: 11px;
}
.ad-size-250x250 .discount-value{
    width: 31px;
    top: 0px;
    left: 0px;
    padding: 2px;
    font-size: 11px;
}
.ad-size-200x200 .discount-value{
    width: 31px;
    top: 0px;
    left: 0px;
    padding: 2px;
    font-size: 11px;
}
.ad-size-160x600 .discount-value{
    width: 31px;
    top: 0px;
    left: 0px;
    padding: 2px;
    font-size: 11px;
}
.ad-size-120x600 .discount-value{
    width: 31px;
    top: 0px;
    left: 0px;
    padding: 2px;
    font-size: 11px;
}
.ad-size-300x600 .discount-value{
    width: 31px;
    top: 0px;
    left: 0px;
    padding: 2px;
    font-size: 11px;
}
.ad-size-728x90 .discount-value{
    width: 31px;
    top: 0px;
    left: 0px;
    padding: 2px;
    font-size: 11px;
}
.ad-size-950x90 .discount-value{
    width: 31px;
    top: 0px;
    left: 0px;
    padding: 2px;
    font-size: 11px;
}
.ad-size-468x60 .discount-value{
	display: none !important;
    width: 31px;
    top: 0px;
    left: 0px;
    padding: 2px;
    font-size: 11px;
}
.ad-size-320x50 .discount-value{
	display: none !important;
    width: 31px;
    top: 0px;
    left: 0px;
    padding: 2px;
    font-size: 11px;
}
.ad-size-320x100 .discount-value{
    width: 31px;
    top: 0px;
    left: 0px;
    padding: 2px;
    font-size: 11px;
}
.ad-size-620x60 .discount-value{
    width: 31px;
    top: 0px;
    left: 0px;
    padding: 2px;
    font-size: 11px;
}


.cdn_images {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-height: 100%;
	max-width: 100%;
	margin: auto;
}
