<span class="popuptitle">{OPERATION} Role</span>
<center>
  <div style="width: 400px;">
    <span class="popuplabel">Nama Role</span><span class="popupinput"><input type="text" id="inputnamarole" name="inputnamarole" value="{NAMA_ROLE}" style="text-transform: uppercase;" onfocus="this.style.background='white';" {READONLY}/></span><br><br>
    <!-- BEGIN ACT_SAVE -->
    <span class="flatbutton" onclick="simpan(inputnamarole.value,{ID});">SIMPAN</span>
    <!-- END ACT_SAVE -->
  </div>
</center>