<script type="text/javascript">
	filePath = '{TPL}js/dropdowncalendar/images/';
</script>
<script src="{TPL}js/dropdowncalendar/calendar.js" type="text/javascript"></script>
<script type="text/javascript" src="{ROOT}/ajax/dojo.js"></script>
<script type="text/javascript">
  // komponen khusus dojo 
  dojo.require("dojo.widget.Dialog");
	
	function Start(page) {
		OpenWin = this.open(page, "CtrlWindow", "width=800,toolbar=no,menubar=yes,location=yes,scrollbars=yes,resizable=yes");
	}
	
	function batal(no_sj){
	
	if(confirm("Apakah anda yakin akan membatalkan transaksi ini?")){
		
		new Ajax.Request("surat_jalan.php?sid={SID}",{
	   asynchronous: true,
	   method: "get",
	   parameters: "mode=batal&no_sj="+no_sj,
	   onLoading: function(request) 
	   {
	   },
	   onComplete: function(request) 
	   {
			
	   },
	   onSuccess: function(request) 
	   {			
			window.location.reload();
		},
	   onFailure: function(request) 
	   {
	   }
	  })  
	}
	
	return false;
		
}

  function selectAll(){

	  i=1;
	  loop=true;
	  record_dipilih="";
	  do{
		  str_var='checked_'+i;
		  if(chk=document.getElementById(str_var)){
			  chk.checked=true;
		  }
		  else{
			  loop=false;
		  }
		  i++;
	  }while(loop);

  }

  function deselectAll(){

	  i=1;
	  loop=true;
	  record_dipilih="";
	  do{
		  str_var='checked_'+i;
		  if(chk=document.getElementById(str_var)){
			  chk.checked=false;
		  }
		  else{
			  loop=false;
		  }
		  i++;
	  }while(loop);

  }

  function hapusData(kode){

	  if(confirm("Apakah anda yakin akan menghapus data ini?")){

		  if(kode!=''){
			  list_dipilih="'"+kode+"'";
		  }
		  else{
			  i=1;
			  loop=true;
			  list_dipilih="";
			  do{
				  str_var='checked_'+i;
				  if(chk=document.getElementById(str_var)){
					  if(chk.checked){
						  if(list_dipilih==""){
							  list_dipilih +=chk.value;
						  }
						  else{
							  list_dipilih +=","+chk.value;
						  }
					  }
				  }
				  else{
					  loop=false;
				  }
				  i++;
			  }while(loop);
		  }
		  new Ajax.Request("tilang.php?sid={SID}",{
			  asynchronous: true,
			  method: "get",
			  parameters: "mode=delete&list_page="+list_dipilih,
			  onLoading: function(request)
			  {
			  },
			  onComplete: function(request)
			  {

			  },
			  onSuccess: function(request)
			  {
				  if(request.responseText == 2){
					  alert("gagal mengeksekusi perintah ini");
				  }else{
					  window.location.reload();
					  deselectAll();
				  }
			  },
			  onFailure: function(request)
			  {
			  }
		  })
	  }

	  return false;

  }
	
</script>

<table width="100%" cellspacing="0" cellpadding="0">
<tr>
 <td class="whiter" valign="middle" align="left">		
	<form action="{ACTION_CARI}" method="post">
		<!--HEADER-->
		<table width='100%' cellspacing="0">
			<tr class='banner' height=40>
				<td align='center' valign='middle' class="bannerjudul">&nbsp;Surat Tilang</td>
				<td align='right' valign='middle'>
					<table>
						<tr>
							<!--<td class='bannernormal'><select onchange='getUpdateAsal(this.value);' id='pool' name='pool'><option value=''>-semua pool-</option><option value="0" {POOL_0}>RAWA BOKOR</option><option value="1" {POOL_1}>CIHAMPELAS</option></select></td>
							<td class='bannernormal' colspan=2>&nbsp;Tgl:&nbsp;<input readonly="yes"  id="tanggal_mulai" name="tanggal_mulai" type="text" size=10 onfocus="this.select();lcs(this)" onclick="event.cancelBubble=true;this.select();lcs(this)" value="{TGL_AWAL}"></td>
							<td class='bannernormal' colspan=2>&nbsp; s/d &nbsp;<input readonly="yes"  id="tanggal_akhir" name="tanggal_akhir" type="text" size=10 onfocus="this.select();lcs(this)" onclick="event.cancelBubble=true;this.select();lcs(this)" value="{TGL_AKHIR}"></td>-->
							<td class='bannernormal'>Cari:<input type="text" id="txt_cari" name="txt_cari" value="{TXT_CARI}" /></td>
							<td class='bannernormal'><input name="btn_cari" type="submit" value="cari" /></td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<!-- END HEADER-->
		<br/>
		<table width="100%" cellpadding="5" style="color:whitesmoke;" class="border">
			<tr>
				<th colspan="7">Sidang Minggu Ini</th>
			</tr>
			<th width=10>No</th>
			<th width=30>NoST</th>
			<th width=100>Sopir</th>
			<th width=80>No Polisi</th>
			<th width=50>Tanggal Tilang</th>
			<th width=100>Denda</th>
			<th width=100>Jatuh Tempo</th>
			<!-- BEGIN ROWALERT -->
			<tr bgcolor="red">
				<td align="right" valign="top"><font size="4" color="yellow"><b>{ROWALERT.no}</b></font></td>
				<td align="left" valign="top"><font size="4" color="yellow"><b>{ROWALERT.nost}</b></font></td>
				<td align="center" valign="top"><font size="4" color="yellow"><b>{ROWALERT.sopir}</b></font></td>
				<td align="left" valign="top"><font size="4" color="yellow"><b>{ROWALERT.kendaraan}</b></font></td>
				<td align="left" valign="top"><font size="4" color="yellow"><b>{ROWALERT.tgl_tilang}</b></font></td>
				<td align="left" valign="top"><font size="4" color="yellow"><b>{ROWALERT.denda}</b></font></td>
				<td align="right" valign="top"><font size="4" color="yellow"><b>{ROWALERT.tempo}</b></font></td>
			</tr>
			<!-- END ROWALERT -->
		</table>
		<br/>
		<table width="100%">
			<tr>
				<td align='left' width='40%'>
					<a href="{U_ADD}">[+]Tambah Surat Tilang</a>&nbsp;|&nbsp;<a href="" onClick="return hapusData('');">[-] Hapus Data</a>
				</td>
				<td width='60%' align='right'>
					<a href="" onClick="selectAll();return false;">Check All</a>&nbsp;|&nbsp;
					<a href="" onClick="deselectAll();return false;">Uncheck All</a>&nbsp;|&nbsp;{PAGING}
				</td>
			</tr>
		</table>
		<table class="border" width='100%' >
    <tr>
		<th width="30"></th>
      	<th width=30>No</th>
		<th width=100><a class="th" href='{A_SORT_1}' title='{TIPS_SORT_1}'>NoST</a></th>
		<th width=90><a class="th" href='{A_SORT_2}' title='{TIPS_SORT_2}'>Sopir</a></th>
		<th width=80><a class="th" href='{A_SORT_3}' title='{TIPS_SORT_3}'>No Polisi</a></th>
		<th width=50><a class="th" href='{A_SORT_5}' title='{TIPS_SORT_5}'>Tanggal Tilang</a></th>
		<th width=100><a class="th" href='{A_SORT_6}' title='{TIPS_SORT_6}'>Jatuh Tempo</a></th>
		<th width=100><a class="th" href='{A_SORT_8}' title='{TIPS_SORT_8}'>Denda</a></th>
		<th width=100><a class="th" href='{A_SORT_7}' title='{TIPS_SORT_7}'>Nama Petugas</a></th>
		<th width=120>Action</th>
    </tr>
    <!-- BEGIN ROW -->
    <tr class="{ROW.odd}" title="{ROW.title}">
		<td><div align="center">{ROW.check}</div></td>
      	<td align="right" valign="top">{ROW.no}</td>
		<td align="left" valign="top">{ROW.nost}</td>
      	<td align="center" valign="top">{ROW.sopir}</td>
		<td align="left" valign="top">{ROW.kendaraan}</td>
      	<td align="left" valign="top">{ROW.tgl_tilang}</td>
      	<td align="right" valign="top">{ROW.tempo}</td>
		<td align="right" valign="top">{ROW.denda}</td>
      	<td align="right" valign="top">{ROW.petugas}</td>
		<td align="center" valign="top">{ROW.act}</td>
    </tr>
    <!-- END ROW -->
    </table>
		<table width='100%'>
			<tr>
				<td align='right' width='100%'>
					{PAGING}
				</td>
			</tr>
			<tr>
				<td align='left' valign='bottom' colspan=3>
				{SUMMARY}
				</td>
			</tr>
		</table>
	</form>
 </td>
</tr>
</table>