<table width='300' cellpadding=0 >
	<tr><th colspan='10' style="background: #da251d; color: white;font-size: 16px">Ke {TUJUAN}</th></tr>
	<tr>
		<td class="dashboardkolomheader" width=50>Time</td>
		<td class="dashboardkolomheader" width=50>Kursi</td>
		<td class="dashboardkolomheader" width=50 colspan="2">Book</td>
		<td class="dashboardkolomheader" width=50 colspan="2">Conf</td>
		<td class="dashboardkolomheader" width=50 colspan="2">WL</td>
		<td class="dashboardkolomheader" width=50>Av.</td>
		<td class="dashboardkolomheader" width=50>Desc</td>
	</tr>
	<!-- BEGIN ROW -->
	<tr class="{ROW.odd}">
		<td align="center" style="font-size: {ROW.alert}"><b>{ROW.time}</b></td>
		<td align="right" >{ROW.jml_kursi}</td>
		<td align="right" style="color: blue;">{ROW.b}</td>
		<td align="right" style="color: green;">{ROW.b_transit}</td>
		<td align="right" style="color: red;">{ROW.c}</td>
		<td align="right" style="color: orange;">{ROW.c_transit}</td>
		<td align="right" >{ROW.wl}</td>
		<td align="right" >{ROW.wl_transit}</td>
		<td align="right" >{ROW.available}</td>
		<td align="center">{ROW.keterangan}</td>
	</tr>
	<!-- END ROW -->
</table>
	