<script type="text/javascript">
	filePath = '{TPL}js/dropdowncalendar/images/';
</script>
<script src="{TPL}js/dropdowncalendar/calendar.js" type="text/javascript"></script>
<script type="text/javascript" src="{ROOT}/ajax/dojo.js"></script>
<script type="text/javascript">
  // komponen khusus dojo 
  dojo.require("dojo.widget.Dialog");
 
	function setData(id_jurusan,rewrite_id,kolom){
		
		new Ajax.Updater(rewrite_id,"bookingops.detail.php?sid={SID}", {
			asynchronous: true,
			method: "post",
		
			parameters: "idjurusan="+id_jurusan+"&tgl="+document.getElementById("tanggal_mulai").value+"&col="+kolom,
			onLoading: function(request){
			},
			onSuccess: function(request){
				
			},
			onComplete: function(request){
				
			},
			onFailure: function(request){ 
				assignError(request.responseText); 
			}
		});		
	}

</script>
<form action="{ACTION_CARI}" method="post">
	<div class="bannerjudul" style="padding-left: 5px;">Booking | <span style="font-size: 14px;">Tanggal:&nbsp;<input readonly="yes"  id="tanggal_mulai" name="tanggal_mulai" type="text" size=10 onfocus="this.select();lcs(this)" onclick="event.cancelBubble=true;this.select();lcs(this)" value="{TGL_AWAL}">&nbsp;- Cabang:&nbsp;<select id='cabang' name='cabang'>{OPT_CABANG}</select>&nbsp;</span>&nbsp;<input name="btn_cari" type="submit" value="cari" /></div>
</form>
<div style="width:100%;text-align: center;">
	<div style="text-align: left;width: 1250px;">
		<div style="font-size: 36px;text-align: left; padding-left: 5px;">{CABANG_BERANGKAT}</div>
		<!-- BEGIN LISTDATA -->
		<span class="bookopsdata">
			<span id="rewrite_{LISTDATA.idjurusan}"><img src='./templates/images/loading_bar.gif' /></span>
			<script type='text/javascript'>setData('{LISTDATA.idjurusan}','rewrite_{LISTDATA.idjurusan}','{LISTDATA.col}');</script>
		</span>
		<!-- END LISTDATA -->
	</div>
	<br>
	Book: Jumlah kursi dipesan | Conf: Jumlah kursi yang sudah dibayar | WL: Waiting List | Av.: Kursi Tersisa 
</div>

