<table width="95%" class="border" cellspacing="1" cellpadding="4" border="0">
<tr>
 <th align='left'>Welcome {USERNAME},</th>
</tr>
<tr>
 <td align='left' class="indexer">{BCRUMP}</td>
</tr>
<tr>
 <td class="whiter" valign="middle" align="center">
    <table width='80%' class="border">
    <tr>
       <th>#</th><th>kode</th><th>Bulan</th><th>Frekuensi</th>
     </tr>
     <!-- BEGIN ROW -->
     <tr>
       <td class="{ROW.odd}">{ROW.no}</td>
       <td class="{ROW.odd}">{ROW.kode}</td>
       <td class="{ROW.odd}">{ROW.bulan}</td>
       <td class="{ROW.odd}">{ROW.frekuensi}</td>
     </tr>  
     <!-- END ROW -->
    </table>
    <br />
 </td>
</tr>
</table>