<span class="popuptitle">Ubah Password</span>
<center>
  <div class="wrapperpopup">
    <span class="popuplabel">Password Lama</span><span class="popupinput"><input type="password" id="passlama" onkeypress="validCharInput(event);" onfocus="this.style.background='white';" style="text-align: center"/></span><br><br>
    <span class="popuplabel">Password Baru</span><span class="popupinput"><input type="password" id="passbaru" onkeypress="validCharInput(event);" onfocus="this.style.background='white';" style="text-align: center"/></span><br><br>
    <span class="popuplabel">Konfirmasi Password Baru</span><span class="popupinput"><input type="password" id="konfpassbaru" onkeypress="validCharInput(event);" onfocus="this.style.background='white';" style="text-align: center"/></span><br><br>
    <span class="flatbutton" onclick="ubahPassword(passlama,passbaru,konfpassbaru);" id="buttonproses">Ubah</span>
  </div>
</center>