.datePickerContainer {
	width:164px; /* needed for proper user styling */
}

.calendarContainer {
/*	border:1px solid #566f8f;*/
}

.calendarBodyContainer {
	width:100%; /* needed for the explode effect (explain?) */
	background: #7591bc url("images/dpBg.gif") top left repeat-x;
}

.calendarBodyContainer thead tr td {
	color:#293a4b;
	font:bold 1em Helvetica, Arial, Verdana, sans-serif;
	text-align:center;
	padding:0.25em;
	background: url("images/dpHorizLine.gif") bottom left repeat-x;
}

.calendarBodyContainer tbody tr td {
	color:#fff;
	font:bold 1em Helvetica, Arial, Verdana, sans-serif;
	text-align:center;
	padding:0.4em;
	background: url("images/dpVertLine.gif") top right repeat-y;
	cursor:pointer;
	cursor:hand;
}


.monthWrapper {
	padding-bottom:2px;
	background: url("images/dpHorizLine.gif") bottom left repeat-x;
}

.monthContainer {
	width:100%;
}

.monthLabelContainer {
	text-align:center;
	font:bold 1em Helvetica, Arial, Verdana, sans-serif;
	background: url("images/dpMonthBg.png") repeat-x top left !important;
	color:#293a4b;
	padding:0.25em;
}

.monthCurve {
	width:12px;
}

.monthCurveTL {
	background: url("images/dpCurveTL.png") no-repeat top left !important;
}

.monthCurveTR {
		background: url("images/dpCurveTR.png") no-repeat top right !important;
}


.yearWrapper {
	background: url("images/dpHorizLineFoot.gif") top left repeat-x;
	padding-top:2px;
}

.yearContainer {
	width:100%;
}

.yearContainer td {
	background:url("images/dpYearBg.png") top left repeat-x;
}

.yearContainer .yearLabel {
	margin:0;
	padding:0.45em 0 0.45em 0;
	color:#fff;
	font:bold 1em Helvetica, Arial, Verdana, sans-serif;
	text-align:center;
}

.curveBL {
	background: url("images/dpCurveBL.png") bottom left no-repeat !important;
	width:9px !important;
	padding:0;
	margin:0;
}

.curveBR {
	background: url("images/dpCurveBR.png") bottom right no-repeat !important;
	width:9px !important;
	padding:0;
	margin:0;
}


.previousMonth {
	background-color:#6782a8 !important;
}

.previousMonthDisabled {
	background-color:#a4a5a6 !important;
	cursor:default !important
}
.currentMonth {
}

.currentMonthDisabled {
	background-color:#bbbbbc !important;
	cursor:default !important
}
.nextMonth {
	background-color:#6782a8 !important;
}
.nextMonthDisabled {
	background-color:#a4a5a6 !important;
	cursor:default !important;
}

.currentDate {
	text-decoration:underline;
	font-style:italic;
}

.selectedDate {
	background-color:#fff !important;
	color:#6782a8 !important;
}

.yearLabel .selectedYear {
	padding:0.2em;
	background-color:#9ec3fb !important;
}

.nextYear, .previousYear {
	cursor:pointer;cursor:hand;
	padding:0;
}

.nextYear {
	margin:0 0 0 0.55em;
}

.previousYear {
	margin:0 0.55em 0 0;
}

.incrementControl {
	cursor:pointer;cursor:hand;
	width:1em;
}

.increase {
	float:right;
}

.decrease {
	float:left;
}

.lastColumn {
	background-image:none !important;
}


