<span class="popuptitle">ANTAR PAKET</span>
<center>
  <div class="wrapperpopup" style="width: 500px;height:150px;">
    <span style="font-size: 14px;font-family: 'trebuchet ms';color: #555555;width: 100%;text-align: center;">masukkan nama kurir yang akan mengantar barang-barang ini</span><br><br>
    <span class="popuplabel">Nama Kurir</span><span class="popupinput">
      <form action="" method="post" id="formdialog" name="formdialog" onsubmit="antarPaket();return false;">
        <input type="text" id="namakurir" name="namakurir" onkeypress="validCharInput(event);this.style.background='white';" onfocus="this.style.background='white';" style="text-transform: uppercase;"/>
      </form>
    </span><br><br>
    <span class="flatbutton" onclick="antarPaket()" id="buttonproses">Proses</span>
  </div>
</center>