<span class="popuptitle">Payout-Pilih Pembayaran</span>
<center>
  <div class="tabletitle">Jenis Pembayaran</div><br>
  Anda akan melakukan payout untuk sopir dengan nama <br>
  <b>{NAMA_SOPIR} ({KODE_SOPIR})</b><br><br>
  <span class="flatbutton" onclick="prosesPayout('{KODE_SOPIR}',0);">TUNAI</span>&nbsp;<span class="flatbutton" onclick="prosesPayout('{KODE_SOPIR}',1);">TRANSFER</span>
</center>