<html>
<head>
	<link rel="stylesheet" href="./templates/trav.css" type="text/css" />
</head>
<script type="text/javascript">

	function printWindow() {
		bV = parseInt(navigator.appVersion);
		if (bV >= 4) window.print();
	}

</script>	 

<body class="tiket">
  <div id="pax" style="margin-left: 18px; margin-bottom: 10px;">
    <div id="tiket" style="font-size:16px; width:200px; margin-left: 20px; margin-bottom: 10px;">
      <span style="font-size:22px;padding-bottom: 5px;display: inline-block;">Resi CGS Sopir</span><br>
      {NO_RESI}<br>
      {NAMA_SOPIR}<br>
      ({KODE_SOPIR})<br><br>
      Via:{JENIS_PEMBAYARAN}<br>
      Trip:{TOTAL_TRIP}<br>
      CGS:<span style="font-size: 16px;"><strong>Rp. {TOTAL_CGS}</strong></span><br>
      Jurusan:<br>
      {JURUSAN}<br>
      ---------------------
      Pay By:{NAMA_PETUGAS}<br>
      Waktu Bayar<br>
      {WAKTU_PAYOUT}<br><br>
    </div>
</body>

<script language="javascript">

  printWindow();
  window.close();

</script>
</html>
