<html>
<head>
	<link rel="stylesheet" href="./templates/trav.css" type="text/css" />
</head>
<script language="JavaScript" type="text/javascript" src="{ROOT}ajax/lib/prototype.js"></script>
<script type='text/javascript' src='{ROOT}js/prototype.js'></script>
<script type='text/javascript' src='{ROOT}js/scriptaculous.js?load=effects'></script>
<script type='text/javascript' src='{ROOT}js/prototip.js'></script>
<link rel="stylesheet" type="text/css" href="{ROOT}css/prototip.css" />
<script type="text/javascript" src="{ROOT}/ajax/dojo.js"></script>
<SCRIPT>
<!-- Begin
function printWindow() {
	bV = parseInt(navigator.appVersion);
	if (bV >= 4) window.print();
	window.opener.getUpdateMobil();
}

printWindow();
window.close();

//  End -->
</SCRIPT>

<body class='spj'>
<div class="tiket_body"> -- [MANIFEST] -- {DUPLIKAT}</div><br>
<div class="tiket_body"><font size='6'>{NAMA_PERUSAHAAN}</font></div>
<!--<div class="tiket_body">{ALAMAT_PERUSAHAAN}</div>
<div class="tiket_body">{TELP_PERUSAHAAN}</div><br>-->
<br>
<div class="tiket_body">{NO_SPJ}</div>
<div class="tiket_body">{TGL_BERANGKAT}</div>
<div class="tiket_body">{JURUSAN}</div><br>

<div class="tiket_body">Tgl.Cetak:</div>
<div class="tiket_body">{TGL_CETAK}</div><br>

<div class="tiket_body">Mobil:{NO_POLISI}</div>
<div class="tiket_body">Sopir:{SOPIR}</div><br>

<div class="tiket_body">DAFTAR PAKET {TIDAK_ADA_PAKET}</div>
<!-- BEGIN ROW_PAKET -->
<div class="tiket_body">({ROW_PAKET.IDX_PAKET_NO}) Resi:{ROW_PAKET.NO_TIKET_PAKET}</div>   
<div class="tiket_body">Tujuan:{ROW_PAKET.TUJUAN}</div>   
<div class="tiket_body">dr:{ROW_PAKET.NAMA_PENGIRIM}</div>   
<div class="tiket_body">{ROW_PAKET.TELP_PENGIRIM}</div><br>  
<div class="tiket_body">ke:{ROW_PAKET.NAMA_PENERIMA}</div>   
<div class="tiket_body">{ROW_PAKET.TELP_PENERIMA}</div><br> 
<!-- END ROW_PAKET -->

<div class="tiket_body">Jumlah Paket: {JUMLAH_PAKET}</div>   
<div class="tiket_body">Omzet Paket: Rp.{OMZET_PAKET}</div><br>
   
<div class="tiket_body">DAFTAR PENUMPANG {TIDAK_ADA_PENUMPANG}</div>   
<table width='300'>
	<!-- BEGIN ROW_PENUMPANG -->
	<tr>
		<td valign='top' width='30' class="tiket_body">{ROW_PENUMPANG.NOMOR_KURSI}</td>
		<td class="tiket_body">
			{ROW_PENUMPANG.NAMA}
			{ROW_PENUMPANG.NO_TIKET}<br>
			<!--{ROW_PENUMPANG.TELP}<br>-->
			a:{ROW_PENUMPANG.ASAL}<br>
			t:{ROW_PENUMPANG.TUJUAN}<br><br>
		</td>
	</tr>
	<!-- END ROW_PENUMPANG -->
</table>

<div class="tiket_body">Jumlah Penumpang: {JUMLAH_PENUMPANG}</div>   
<div class="tiket_body">Omzet Penumpang: Rp.{OMZET_PENUMPANG}</div><br>

<div class="tiket_body">Total Omzet: Rp.{TOTAL_OMZET}</div><br>
<div class="tiket_body">{JENIS_PENUMPANG}</div><br>

<div class="tiket_body">CSO: {CSO}</div><br>


<div class="tiket_body"><font size='2'>&nbsp;&nbsp;&nbsp;&nbsp;{EMAIL_PERUSAHAAN}</font></div>
<div class="tiket_body"><font size='2'>&nbsp;&nbsp;&nbsp;&nbsp;{WEBSITE_PERUSAHAAN}</font></div>
<div class="tiket_body" style="line-height:90%">{VOUCHER_BBM}</div>
<br>
<br>
-

</body>
</html>